.blog-news
  .blog-news__title Новое из блога
  .row.row--2
    include ../../components/blogItem/blogItem
    include ../../components/blogItem/blogItem
    include ../../components/blogItem/blogItem