.blog-news
  .blog-news__title Новое из блога
  .blog-news__content
    .row.row--2
      include ../../components/Common/blogItem/blogItem
      include ../../components/Common/blogItem/blogItem
      include ../../components/Common/blogItem/blogItem