.information.information--location
  svg.icon.information__icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-marker")
  .information__content
    .information__title Москва
    .information__describe З магазина в городе