.information
  svg.icon.information__icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-phone")
  .information__content
    .information__title 8 800 100-41-69
    .information__describe Бесплатно по России