.blog-post {
  &__content {
    padding: 60px 100px;
    max-width: 750px;
    box-sizing: content-box;
  }
  &__tags {
    margin-top: 150px;
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$desktop} {
  .blog-post {
    &__content {
      padding: 30px;
    }
    &__tags {
      margin-top: 50px;
    }
  }
}
@media #{$tablet} {
  .blog-post {
    &__content {
      padding: 30px 15px;
    }
    &__tags {
      margin-top: 15px;
    }
  }
}