.brand
  .brand__item.brand__item--tabs
    include ../../components/brand/brandTabs/brandTabs
  .brand__item.brand__item--info
    include ../../components/brand/brandInfo/brandInfo
  .brand__item.brand__item--np.brand__item--products
    include ../../components/brand/brandProducts/brandProducts
    .brand__show-more
      include ../../components/showMore/showMore
  .brand__categories
    .brand__category(data-category="accessories")
      include ../../components/brand/brandCategory/brandCategory
      .brand__show-more
        include ../../components/showMore/showMore
    .brand__category(data-category="clothes")
      include ../../components/brand/brandCategory/brandCategoryClothes
      .brand__show-more
        include ../../components/showMore/showMore
    .brand__category(data-category="footwear")
      include ../../components/brand/brandCategory/brandCategoryFootwear
      .brand__show-more
        include ../../components/showMore/showMore