.brand-category
  .brand-category__title МОКАСИНЫ ELEMENT (Элемент)
  .brand-category__items
    include ../../topItem/topItemMin
    include ../../topItem/topItemMin
    include ../../topItem/topItemMin
    include ../../topItem/topItemMin
    include ../../topItem/topItemMin
  a(href="#").brand-category__button.button.button--inverse
    span Перейти в каталог мокасинов фирмы ELEMENT