.collections
  include ../../components/collection/collectionHorizontal
  include ../../components/collection/collectionVertical
  include ../../components/collection/collection
  include ../../components/collection/collection