.collections
  include ../../components/Common/collection/collectionHorizontal
  include ../../components/Common/collection/collectionVertical
  include ../../components/Common/collection/collection
  include ../../components/Common/collection/collection