.offer-text
  p Настоящим Индивидуальный предприниматель Голубев Денис Алексеевич, далее «Продавец», выражает намерение заключить договор купли-продажи Товаров с Покупателями на условиях настоящей оферты (далее — «Договор»), размещенной на сайте http://www.skvot.com (далее — «Сайт»).
  p Безусловным и полным принятием (акцептом) условий настоящего Договора считается заказ Покупателем Товара в Интернет-Магазине (далее — «Акцепт Оферты»):
  p.offer-text__point
    strong 1. Термины и определения. «Продавец» — ИП Голубев Денис Алексеевич
    br
    | «Покупатель» — совершеннолетний и дееспособный гражданин, имеющий намерение заказать или приобрести либо заказывающий, приобретающий или использующий товары исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности.
    br
    | «Товар» — товары, представленные к продаже в Интернет-магазине.
    br
    | «Интернет-магазин» — Интернет-сайт, принадлежащий Продавцу, имеющий адрес в сети Интернет http://www.skvot.com На нем представлены товары, предлагаемые Продавцом Покупателям для оформления Заказов, а также условия оплаты и доставки этих Заказов Покупателям.
    br
    | «Сайт» — http://www.skvot.com
    br
    | «Заказ» — должным образом оформленный запрос Покупателя на доставку по указанному адресу перечня Товаров, выбранных на Сайте.
    br
    | «Пользовательский счет Покупателя» — персональный интернет — счет, на который Покупатель может перечислять денежные средства для последующей оплаты Товаров на Сайте.
    br
    | «Личный кабинет» — персональное пространство Покупателя на Сайте для осуществления Заказов и управления персональными данными. Доступ к Личному кабинету имеют зарегистрированные пользователи Cайта.
    br
    | «Служба работы с Клиентами» — подразделение Интернет-магазина, осуществляющее информационную поддержку и обслуживание Покупателя по всем вопросам, связанным с Заказом Товара в Интернет-магазине.
  p.offer-text__point
    strong 2. Общие положения
    br
    | 2.1. Настоящий Договор является публичной офертой и содержит все существенные условия организации купли-продажи дистанционным способом (т. е. через Интернет-магазин). Настоящий Договор регулирует взаимоотношения Продавца и Покупателя.
    br
    | 2.2. Продавец сохраняет за собой право в одностороннем порядке вносить изменения в настоящий Договор с предварительной их публикацией на Сайте.
    br
    | 2.3. Настоящий Договор имеет приоритет перед иными документами, опубликованными на Сайте.
    br
    | 2.5. Интернет-магазин предназначен для организации дистанционного способа продажи товаров через сеть интернет.
    br
    | 2.6. Осуществляя Заказ в Интернет-магазине, Покупатель принимает на себя обязательства по его оплате и приемке, а Продавец, в свою очередь, обязуется исполнить собственные обязательства по доставке и передаче в собственность Покупателя оплаченного Товара на условиях настоящего Договора.
  p.offer-text__point
    strong 3. Статус Покупателя
    br
    | 3.1. Покупателем является полностью дееспособный гражданин (ка), оформившие заказ в Интернет-магазине на условиях настоящего Договора.
    br
    | 3.2. Покупатель несет ответственность за достоверность предоставленной при оформлении Заказа информации.
    br
    | 3.3. Покупатель, осуществляя Заказ в Интернет-магазине принимает на себя обязательства по оплате Заказа/Товара и его приемке, а Продавец в свою очередь принимает обязательства по доставке и передаче в собственность Покупателя оплаченного последним Заказа/Товара.
  p.offer-text__point
    strong 4. Доступ к информации о Покупателе
    br
    | 4.1. Информация, предоставленная Покупателем является конфиденциальной.
    br
    | 4.2. При оформлении Заявки на Сайте Клиент предоставляет следующую информацию и соглашается на её использование, обработку и хранение Продавцом: Фамилия, Имя, Отчество, адрес электронной почты, контактные телефоны, адрес доставки Товара.
    br
    | 4.3. Клиент, указывая на сайте при регистрации свои контактные данные, понимает, что вносимые им данные не являются персональными данными, идентифицирующими Клиента на основании п.1 ст.8 Федерального Закона от 27.07.2006 N 152-ФЗ в ред. Федерального закона от 25.07.2011 N 261-ФЗ, т.е. предоставляются Продавцу в обезличенной форме, добровольно, и в объеме, необходимом и достаточном для исполнения Продавцом обязательств перед Клиентом.
    br
    | 4.4. Продавец использует предоставленную информацию для выполнения своих обязательств перед Клиентом в соответствии и на основании Федерального Закона от 27.07.2006 N 152-ФЗ в ред. Федерального закона от 25.07.2011 N 261-ФЗ.
    br
    | 4.5. Клиент соглашается на передачу Продавцом предоставленной информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения перед Клиентом обязательств, возникающих из настоящего соглашения и подаваемых через сайт заявок.
    br
    | 4.6. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.
    br
    | 4.7. Клиент соглашается на передачу Продавцу своих данных в целях исполнения заключаемых договоров, в том числе настоящего Соглашения, и принимаемых Продавцом в соответствии с ними обязательств по продаже и доставке Клиенту Товара. Согласие Клиента выражается в указании им информации в соответствующих графах при оформлении Заявки.
    br
    | 4.8. При доступе Покупателя к Сайту Продавец получает информацию об ip-адресе Покупателя. Продавец обязуется не использовать данную информацию для установления личности Покупателя.
    br
    | 4.9. Продавец не несет ответственности за сведения, распространенные Покупателем при помощи Сайта в общедоступной форме.
  p.offer-text__point
    strong 5. Порядок оформления Заказа в Интернет-магазине
    br
    | 5.1. Покупатель самостоятельно оформляет заказ в Интернет-магазине.
    br
    | 5.2. При оформлении заказа в Интернет-магазине, Покупатель обязан предоставить о себе правдивую информацию. В противном случае Продавец не несет ответственности за несвоевременную доставку.

  p.offer-text__point
    strong 6. Условия покупки/продажи Товара
    br
    | 6.1. Продавец обязуется передать в собственность Покупателю товар, а Покупатель обязуется оплатить и принять товар на условиях настоящего Договора.
  p.offer-text__point
    strong 7. Оплата Товара
    br
    | 7.1. Полная стоимость Заказа состоит из стоимости Товара в Интернет-магазине и стоимости доставки.
    br
    | 7.2. Покупатель оплачивает заказ любым способом, выбранным в Интернет-магазине. Способы оплаты Товара указаны на Сайте в разделе «Способы оплаты».
    br
    | 7.3. Стоимость Товара указывается на сайте http://www.skvot.com
    br
    | 7.4. В случае неверного указания цены заказанного Покупателем Товара, Продавец при первой возможности информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным. Если Заказ был оплачен, Продавец возвращает Клиенту оплаченную за Заказ сумму в соответствии с условиями п.9.8.настоящего Договора.
    br
    | 7.5. Цена Товара на сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный покупателем Товар изменению не подлежит.
    br
    | 7.6. Скидка по промо-коду, рассчитанная на сайте в процессе оформления заказа может быть в одностороннем порядке отменена Продавцом в случае, если ее применение признано Продавцом неправомерным.
  p.offer-text__point
    strong 8. Доставка заказа
    br
    | 8.1. Общий срок доставки Товара со склада, состоит из срока обработки заказа и срока доставки. Срок обработки Заказа и срок доставки указаны при выборе способа доставки во время оформления заказа.
    br
    | 8.2. Доставка Заказов осуществляется по всей территории Российской Федерации любым выбранным Покупателем способом. Способы доставки указаны на Сайте в соответствующем разделе «Способы доставки».
    br
    | 8.3. Продавец приложит все усилия для соблюдения сроков доставки, указанных на Сайте, тем не менее, задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца. Срок доставки может увеличиться на срок от 1 до 30 дней в связи с некорректной работой служб доставки.
    br
    | 8.4. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему Товара и проставления получателем Заказа подписи в документах, подтверждающих доставку. В случае недоставки Товара Продавец возмещает Покупателю стоимость предоплаченного Покупателем Заказа и доставки после получения подтверждения утраты Заказа от Службы доставки.
    br
    | 8.5. Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из его веса, региона и способа доставки, а иногда и формы оплаты, и указывается на последнем этапе оформления Заказа на Сайте.
    br
    | 8.6. При курьерской доставке Товар вручается Покупателю либо лицу, указанному в качестве Получателя. При отсутствии Покупателя либо указанного им Получателя в месте доставки, Товар вручается лицу, предъявившему документ, подтверждающий размещение либо оплату Заказа.
    br
    | 8.7. Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств в пункте 8.6., при курьерской доставке предоплаченного Заказа лицо, осуществляющее доставку, вправе затребовать документ, удостоверяющий личность Получателя, а также указать тип и номер предоставленного Получателем документа на квитанции к Заказу. Продавец гарантирует конфиденциальность и защиту персональной информации Получателя (глава 4 настоящего Договора).
    br
    | 8.8. При передаче Товара Покупатель должен проверить его внешний вид и упаковку, количество Товара в Заказе, комплектность, ассортимент.
  p.offer-text__point
    strong 9. Порядок возврата товара
    br
    | 9.1. Покупатель вправе отказаться от заказанного товара в любое время до его получения, а после получения — в течение 14 дней.
    br
    | 9.2. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарный или кассовый чек). Для возврата товара также необходим документ, удостоверяющий личность.
    br
    | 9.3. При возврате товара надлежащего качества, Продавец осуществляет возврат его стоимости не позднее чем через 10 дней с момента получения товара и письменного заявления Покупателя.
    br
    | 9.4. Под Товаром ненадлежащего качества подразумевается Товар, который неисправен и не может обеспечить исполнение своих функциональных качеств. Полученный Товар должен соответствовать описанию на сайте. Отличие элементов дизайна или оформления от заявленных в описании на сайте не является неисправностью или нефункциональностью Товара.
    br
    | 9.5. Внешний вид и комплектность Товара, а также комплектность всего Заказа должны быть проверены Покупателем/Получателем в момент доставки Товара (кроме доставки почтой). При курьерской доставке Товара, Покупатель/Получатель ставит свою подпись в квитанции о доставке, в графе: «Заказ принял, комплектность полная, услуги по доставке оказаны, претензий к количеству и внешнему виду товара не имею. С условиями возврата товара ознакомлен». После получения Заказа претензии к внешним дефектам Товара, его количеству, комплектности и товарному виду не принимаются.
    br
    | 9.6. В связи с особенностями дистанционного способа продажи, замена Товара может быть выполнена только посредством возврата Товара ненадлежащего качества и оформления нового Заказа на аналогичный товар.
    br
    | 9.7. Покупатель вправе отказаться от исполнения Договора, возвратить Товар ненадлежащего качества и потребовать возврата уплаченной за Товар денежной суммы.
    br
    | 9.8. Требования о возврате уплаченной за Товар денежной суммы подлежат удовлетворению в течение 10 дней со дня предъявления соответствующего требования (ст. 22 Закона РФ «О защите прав потребителей»).
    br
    | 9.9. В случае отказа Покупателя от Товара надлежащего качества, стоимость доставки Товара от Покупателя до Продавца Покупателю не возвращается.
    br
    | 9.10. Покупатель вправе отказаться от предоплаченного Заказа до момента его получения. В этом случае денежные средства, внесенные Покупателем за Заказ автоматически возвращаются на «Пользовательский счет Покупателя», расположенный в разделе «Личный кабинет» на Cайте.

  p.offer-text__point
    strong 10. Ответственность сторон
    br
    | 10.1. В случае форс-мажорных обстоятельств, стороны освобождаются от исполнения настоящего Договора.
    br
    | 10.2. Стороны прилагают максимальные усилия с целью устранения возникающих разногласий путем переговоров. В противном случае договор может быть расторгнут.
    br
    | 10.3. Продавец не несет ответственности, не может выступать в качестве ответчика в суде и не возмещает убытки, возникшие у Покупателя из-за действия или бездействия третьих лиц.
    br
    | 10.4. Продавец не несет ответственности в случае неправильного выбора Покупателем характеристик или модификации Товара, заказанного в Интернет-магазине.
    br
    | 10.5. Продавец не несет ответственности по оплате госпошлин в случае вступления в силу таможенного законодательства при пересечении грузов границы Российской Федерации в адрес Покупателя.
    br
    | 10.6. Продавец гарантирует, что передаваемый Покупателю товар надлежащего качества, не является бывшим в употреблении, и соответствует санитарно-гигиеническим нормам, принятым в Российской Федерации.
  p.offer-text__point
    strong 11. Срок действия настоящего договора
    br
    | 11.1. Настоящий Договор вступает в силу с даты его публикации на Сайте http://www.skvot.com
    br
    | 11.2. Совершая покупку в Интернет-магазине, Покупатель соглашается со всеми вышеперечисленными условиями в настоящем Договоре.
    br
    | 11.3. Настоящий Договор, а также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
    br
    | 11.4. К отношениям между Покупателем и Продавцом применяются положения ГК РФ о розничной купле-продаже (§ 2 глава 30), а также Закон РФ «О защите прав потребителей" от 07.02.1992 № 2300–1 и иные правовые акты, принятые в соответствии с ними.
    br
    | 11.5. Покупатель принимает условия настоящего Договора путем нажатия на Сайте соответствующего поля «Подтвердить заказ" на последнем этапе оформления Заказа на Сайте.
    br
    | 11.6. К отношениям между Покупателем и Продавцом применяется право Российской Федерации.
    br
    | 11.7. Признание судом недействительности какого-либо положения настоящего Договора не влечет за собой недействительность остальных положений.
  p.offer-text__point
    strong 12. Рассылки и информационные сообщения
    br
    | 12.1. При регистрации на Сайте Клиент дает согласие на получение от Продавца рассылок рекламно-информационного характера. Указанные рассылки содержат информацию о предстоящих акциях, розыгрышах и других мероприятиях Продавца.
    br
    | 12.2. Настройка параметров рассылки (возможность отказа от рассылки и пр.) размещена в разделе «Личный кабинет», в пункте «Рассылки».
    br
    | 12.3. Рассылки поступают в виде электронного письма на адрес и/или короткого сообщения (sms) на номер телефона, указанный Клиентом при регистрации. Рекламно-информационные материалы могут предоставляться в виде бумажно-полиграфической и сувенирной продукции, вкладываться в заказы клиентов и доставляться на указанный почтовый адрес в виде писем и посылок.
  p.offer-text__point * Если иное не указано в информации о товаре (описании акции)
  p.offer-text__point
    strong 13. Интеллектуальная собственность
    br
    | 13.1. Вся текстовая информация и графические изображения, находящиеся на Сайте являются собственностью Продавца и/или его контрагентов.
  p.offer-text__point
    strong 14. Гарантии и ответственность
    br
    | 14.1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров, заказанных на Сайте.
    br
    | 14.2. Продавец не несет ответственности за содержание и функционирование внешних сайтов.
    br
    | 14.3. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
    br
    | 14.4. Покупатель обязуется не использовать заказанный Товар в предпринимательских целях.
  p.offer-text__point
    strong 15. Технология cookies
    br
    | 15.1. Интернет-магазин может использовать технологию «cookies». «Cookies» не передаются третьим лицам и не содержат конфиденциальную информацию. Файлы «cookies» могут быт использованы для рекламы товаров, специальных акций и скидок в интернет магазине.
