.product-price
  .product-price__price
    .product-price__price-old 13 200 Р
    .product-price__price-new 11 400 Р
  .product-price__label.label -20%
  .product-price__info
    <a href="#">Вернём 6630 Р</a> после покупки