nav.menu
  a(href="#").menu__item Главная
  a(href="#").menu__item Доставка и оплата
  a(href="#").menu__item Наши магазины
  a(href="#").menu__item Блог
  a(href="#").menu__item Команда
  a(href="#").menu__item О сквоте
  a(href="#").menu__item Бренды