.menu {
  position: relative;

}

.menu__item {
  display: inline-block;
  color: $c-white;
  font-size: $fs-13;
  margin-right: 5px;
  padding: 10px 5px;
  transition: $t-normal;
}

// .menu__item:first-child {
//   padding-left: 0;
// }

.menu__item:last-child {
  margin: 0;
}

.menu__item:hover {
  background: $c-blue;
}