.brand-tabs.tabs
  .brand-tabs__tab.tabs__tab.tabs__tab--active(data-category="accessories") Обувь
  .brand-tabs__tab.tabs__tab(data-category="clothes") Одежда
  .brand-tabs__tab.tabs__tab(data-category="footwear") Акксессуары