.brand-info.row.row--2
  .col-sm-9.brand-info__content
    .brand-info__title ELEMENT
    .brand-info__text Element – один из самых экологичных стрит-фешн брендов. Внимание к природе и окружающей среде всегда отличало создателей одежды с «елочным» логотипом. Философия бренда находит все новых последователей по всему миру. С каждым годом поп-культура становится более экологически-сознательной и Element остается одним из флагманов этого движения. Команда Element не зря называетaся «семьей». Всех работников компании объединяет общая страсть – к моде и уличной культуре. Каждая коллекция Element отражает самые современные стрит-фешн тенденции. При этом здесь всегда помнят об окружающем мире – компания Element использует только экологичные материалы в производстве одежды, обуви и даже рекламной продукции. Element помогает многим природоохранным обществам и устраивает ежегодные детские лагеря, чтобы передать свое отношение к жизни и к моде новому, подрастающему поколению.
  .col-sm-3.brand-info__logo
    img(src="img/brand-logo.jpg")