form.filter-aside
  .filter-aside__section
    .filter-aside__title Категории
    .filter-aside__content
      include ../../components/filterCategories/filterCategories
  .filter-aside__section.filter-aside__section--grey
    .filter-aside__title Цена, руб
    .filter-aside__content
      include ../../components/filterPrice/filterPrice
  .filter-aside__section
    .filter-aside__title Пол
    .filter-aside__content
      include ../../components/filterCheckbox/filterCheckboxSex
  .filter-aside__section
    .filter-aside__title Производители
    .filter-aside__content
      include ../../components/filterCheckbox/filterCheckboxManufacturers
    button(type="button").filter-aside__close
      svg.icon.filter-aside__close-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-up-arrow")
  .filter-aside__section
    .filter-aside__title Цвет
    .filter-aside__content
      include ../../components/filterColors/filterColors
    button(type="button").filter-aside__close
      svg.icon.filter-aside__close-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-up-arrow")
  .filter-aside__section
    .filter-aside__title Параметры
    .filter-aside__content
      include ../../components/filterCheckbox/filterCheckboxParameters
    button(type="button").filter-aside__close
      svg.icon.filter-aside__close-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-up-arrow")
  .filter-aside__section
    .filter-aside__content
      include ../../components/filterButtons/filterButtons