.product-delivery
  .product-delivery__title Доставка: Новосибирск
  .product-delivery__types
    .product-delivery__type
      svg.icon.product-delivery__type-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-deli-1")
      .product-delivery__type-text Доставка до <a href="#">пункта выдачи</a>: 5 дней, 420 рублей
    .product-delivery__type
      svg.icon.product-delivery__type-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-deli-2")
      .product-delivery__type-text Курьерская доставка до дверей (EMS): 2-3 дн., 682 рублей
    .product-delivery__type
      svg.icon.product-delivery__type-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-deli-3")
      .product-delivery__type-text Почта России: 9 дн., 325 рублей