.product {
  // padding-bottom: 100px;
  &__container {
    padding: 0 55px;
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$screen} {
  .product {
    // padding-bottom: 100px;
    &__container {
      padding: 0 15px;
    }

  }
}
@media #{$tablet} {
  .product {
    margin-top: 15px;
  }
}