.product.section.row.row--2
  .col-lg-4.col-sm-5.col-lg-offset-1
    include ../../components/productPreview/productPreview
    .product__description
      include ../../components/productDiscription/productDiscription
  .col-lg-6.col-sm-7
    include ../../components/productPrice/productPrice
    include ../../components/productSize/productSize
    include ../../components/productButtons/productButtons
    include ../../components/productInfo/productInfo
    include ../../components/productDelivery/productDelivery
    .product__description-second
  .col-xs-12.no-padding
    include ../../components/productFeedback/productFeedback
  .col-xs-12.no-padding
    include ../../components/productRecommend/productRecommend