.product.section
  .product__container.row.row--2
    .col-lg-5.col-sm-5.product__preview.no-padding
      include ../../components/productPreview/productPreview
      .product__description
        include ../../components/productDiscription/productDiscription
    .col-lg-7.col-sm-7.product__info.no-padding
      include ../../components/productPrice/productPrice
      include ../../components/productSize/productSize
      include ../../components/productButtons/productButtons
      include ../../components/productInfo/productInfo
      include ../../components/productDelivery/productDelivery
      .product__description-second
  .col-xs-12.no-padding
    include ../../components/productFeedback/productFeedback
  .col-xs-12.no-padding
    include ../../components/productRecommend/productRecommend