.product {
  // padding-bottom: 100px;
  margin-top: 50px;
  &__container {
    padding: 0 70px;
  }
  &__info {
    padding-left: 50px;
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$screen} {
  .product {
    // padding-bottom: 100px;
    &__container {
      padding: 0 50px;
    }
    &__info {
      padding-left: 30px;
    }
  }
}
@media #{$desktop} {
  .product {
    // padding-bottom: 100px;
    &__container {
      padding: 0 30px;
    }
    &__info {
      padding-left: 30px;
    }
  }
}
@media #{$tablet} {
  .product {
    &__container {
      padding: 15px;
    }
    &__info {
      padding: 0;
    }
    &__preview {
      padding: 0;
    }
    margin-top: 0;
  }
}