.filter-checkbox
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="sex" value="man")#chk-sex-1.checkbox__input
    label(for="chk-sex-1").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Мужской
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="sex" value="women")#chk-sex-2.checkbox__input
    label(for="chk-sex-2").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Женский
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="sex" value="else")#chk-sex-3.checkbox__input
    label(for="chk-sex-3").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Неважно