.filter-checkbox.filter-checkbox--double-col.row.row--2
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="Matix")#chk-sizes-1.checkbox__input
    label(for="chk-sizes-1").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 36
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="Lma")#chk-sizes-2.checkbox__input
    label(for="chk-sizes-2").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 39
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="Krew")#chk-sizes-3.checkbox__input
    label(for="chk-sizes-3").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 36.5
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="Volcom")#chk-sizes-4.checkbox__input
    label(for="chk-sizes-4").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 40
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="skvot")#chk-sizes-5.checkbox__input
    label(for="chk-sizes-5").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 37
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="Addict")#chk-sizes-6.checkbox__input
    label(for="chk-sizes-6").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 41.5
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="skvot")#chk-sizes-7.checkbox__input
    label(for="chk-sizes-7").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 37.5
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="Addict")#chk-sizes-8.checkbox__input
    label(for="chk-sizes-8").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 42
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="skvot")#chk-sizes-9.checkbox__input
    label(for="chk-sizes-9").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 38
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="Addict")#chk-sizes-10.checkbox__input
    label(for="chk-sizes-10").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 42.5
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="skvot")#chk-sizes-11.checkbox__input
    label(for="chk-sizes-11").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 38.5
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="sizes" value="Addict")#chk-sizes-12.checkbox__input
    label(for="chk-sizes-12").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name 43
