.filter-checkbox
  .filter-checkbox__box.checkbox
    input(type="checkbox")#chk-parameters-1.checkbox__input
    label(for="chk-parameters-1" name="parameter" value="newera").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name New Era
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="bordshrty")#chk-parameters-2.checkbox__input
    label(for="chk-parameters-2").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Бордшорты
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="uzkie")#chk-parameters-3.checkbox__input
    label(for="chk-parameters-3").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Узкие
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="pryamye")#chk-parameters-4.checkbox__input
    label(for="chk-parameters-4").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Прямые
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="slimfit")#chk-parameters-5.checkbox__input
    label(for="chk-parameters-5").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name SlimFit

  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="snowbordichiskie")#chk-parameters-6.checkbox__input
    label(for="chk-parameters-6").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Сноубордические
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="snowbordichiskie")#chk-parameters-7.checkbox__input
    label(for="chk-parameters-7").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Сноубордические
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="snowbordichiskie")#chk-parameters-8.checkbox__input
    label(for="chk-parameters-8").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Сноубордические
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="snowbordichiskie")#chk-parameters-9.checkbox__input
    label(for="chk-parameters-9").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Сноубордические
  .filter-checkbox__box.checkbox
    input(type="checkbox" name="parameter" value="snowbordichiskie")#chk-parameters-10.checkbox__input
    label(for="chk-parameters-10").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Сноубордические
  .filter-checkbox__all
      a(href="#") Все