mixin blogHeader(props)
  - var addClass = props.addClass || ''

  .blog-header(class=addClass style="background-image: url(img/snowboard.jpg)")
    .blog-header__tag Сноуборд
    .blog-header__content
      .blog-header__date Март 20, 2017
      .blog-header__title Сноуборд: 10 главных ошибок новичков.