form.subscription-form
  .subscription-form__title Подпишитесь на наш дайджест
  .subscription-form__subtitle Подпишитесь на новостную рассылку Сквот и будьте всегда в курсе всех новостей, распродаж, акций и бонусов только для своих. Обещаем не спамить и не надоедать письмами.
  .subscription-form__form
    input(type="text" placeholder="Пожалуйста, введите Email" name="email")
    button(type="submit")
      svg.icon.subscription-form__icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-letter")