.product-size
  .product-size__title Выберите размер:
  .product-size__sizes
    .product-size__group
    input(id="product-size-s" type="radio" name="product-size" disabled="true").product-size__size
    label(for="product-size-s").product-size__label s
    input(id="product-size-m" type="radio" name="product-size").product-size__size
    label(for="product-size-m").product-size__label m
    input(id="product-size-l" type="radio" name="product-size").product-size__size
    label(for="product-size-l").product-size__label l
    input(id="product-size-xl" type="radio" name="product-size").product-size__size
    label(for="product-size-xl").product-size__label xl
  a(href="#").product-size__table Таблица размеров обуви