.button {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: $c-blue;
  padding: 10px 30px;
  color: $c-white;
  line-height: 1.3em;
  outline: none;
  transition: $t-normal;
  font-weight: $fw-semibold;
  font-size: $fs-14;
  border: 2px solid transparent;
  cursor: pointer;
  text-align: center;
  &__icon {
    margin-right: 5px;
    fill: $c-white;
    transition: $t-normal;
  }
  &__add {
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    &-text {
      font-size: $fs-12;
      color: $c-light-grey-6;
      max-width: 120px;
      margin-bottom: 5px;
      font-weight: $fw-normal;
    }
    &-icon {
      fill: $c-light-grey-6;
      margin-bottom: 5px;
    }
  }
  &:hover {
    background: $c-white;
    border-color: $c-blue;
    color: $c-blue;
    .button__icon {
      fill: $c-blue;
    }
  }
  &--yellow {
    background: $c-yellow;
    &:hover {
      border-color: $c-yellow;
      color: $c-yellow;
    }
  }
  &--white {
    background: $c-white;
    color: $c-black-2;
    font-weight: $fw-semibold;
    font-size: $fs-16;
    &:hover {
      background: $c-white;
    }
  }
  &--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &--white-2 {
    padding: 10px 18px;
    background: $c-white;
    color: $c-blue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: $bs-button;
    .button__icon {
      margin-left: 10px;
      fill: $c-blue;
      width: 12px;
      height: 12px;
    }
  }
  &--bs-2 {
    box-shadow: $bs-button-3;
  }
  &--bs {
    box-shadow: $bs-button;
    background: $c-white;
    color: $c-black-2;
    &:hover {
      border-color: transparent;
      background: $c-white;
      color: $c-blue;
      box-shadow: $bs-button-2;
    }
    &:active {
      box-shadow: none;
      transform: translateY(3px);
    }
  }
  &--modal {
    padding: 10px 15px;
    min-width: 75px;
    text-align: center;
  }
  &--inverse {
    background: transparent;
    color: $c-black-2;
    border: 1px solid $c-light-grey-2;
    span {
      border-bottom: 1px solid $c-black-2;
      transition: $t-normal;
    }
    &:hover {
      background: $c-light-grey-2;
      border: 1px solid $c-light-grey-2;
      span {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
.button--link {
  background: transparent;
  border-bottom: 1px solid $c-light-grey-2;
  color: $c-light-grey-2;
  transition: $t-normal;
  border-radius: 0;
  padding: 5px 0;
  margin: 0 5px;
  &:hover {
    background: transparent;
    color: $c-black-2;
    border-color: transparent;
    border-bottom: 1px solid $c-black-2;
  }
}
.button--transparent {
  background: transparent;
  color: $c-black-2;
  border-color: $c-black-2;
  &:hover {
    background: $c-white;
    border-color: $c-black-op;
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$desktop} {
  .button {
    &__add {
      display: none;
    }
  }
}
@media #{$phone} {
  .button {
    min-width: 120px;
    padding: 10px 15px;
  }
}