.reviews
  .reviews__title Отзывы о товарах
  .reviews__content
    include ../../components/Common/review/review
    include ../../components/Common/review/reviewStyle2
    include ../../components/Common/review/reviewStyle3