form.cart-ordering
  .cart-ordering__title Оформление заказа:
  .cart-ordering__content.row.row--2
    .col-md-6.no-padding
      .cart-ordering__registered.js-cart-order
        .form-group
          .checkbox.checkbox--big
            input(type="radio" checked="true" name="user-type" value="user-type")#registered-user.checkbox__input.cart-ordering__radio
            label(for="registered-user").checkbox__label
              .checkbox__box
                svg.icon.checkbox__icon
                  use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
              .checkbox__name Я зарегистрированный пользователь
        .form-group
          .form-inner-group
            input(type="email" placeholder="Email адрес" name="reg-email").input.input--form
          .form-inner-group
            input(type="password" placeholder="Пароль" name="reg-password").input.input--form
        .form-group
          .form-info Если вы зарегистрированны и не авторизуетесь, все скидки и бонусы, накопленные ранее не будут учтены в дальнейших заказах.
        .form-group
          a(href="#").form-link Забыли пароль?
    .col-md-6.no-padding
      .cart-ordering__not-registered.js-cart-order
        .form-group
          .checkbox.checkbox--big
            input(type="radio" name="user-type" value="user-type")#not-registered-user.checkbox__input.cart-ordering__radio
            label(for="not-registered-user").checkbox__label
              .checkbox__box
                svg.icon.checkbox__icon
                  use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
              .checkbox__name Я новый пользователь
        .form-group
          .form-inner-group
            input(type="email" placeholder="Email адрес" disabled="disabled").input.input--form
          .form-inner-group
            input(type="text" placeholder="Фамилия" disabled="disabled").input.input--form
          .form-inner-group
            input(type="text" placeholder="Имя" disabled="disabled").input.input--form
          .form-inner-group
            input(type="text" placeholder="Отчество" disabled="disabled").input.input--form
          .form-inner-group
            input(type="text" placeholder="Телефон" disabled="disabled").input.input--form
          .form-inner-group
            input(type="password" placeholder="Пароль" disabled="disabled").input.input--form
          .form-inner-group
            input(type="password" placeholder="Подтверждение пароля" disabled="disabled").input.input--form
  .cart-ordering__bottom
    .checkbox.cart-ordering__confirm
      input(type="checkbox" name="cart-order-confirm" value="cart-order-confirm")#cart-order-confirm.checkbox__input
      label(for="cart-order-confirm").checkbox__label
        .checkbox__box
          svg.icon.checkbox__icon
            use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        .checkbox__name Нажимая кнопку «Продолжить», я подтверждаю свою дееспособность, даю согласие на обработку своих персональных данных и соглашаюсь с офертой
    button(type="submit").button Продолжить