.blog-list
  .blog-list__tagging
    include ../../components/UI/select/selectBlog
  .blog-list__blogs
    .row.row--2
      include ../../components/Common/blogItem/blogItem
      include ../../components/Common/blogItem/blogItem
      include ../../components/Common/blogItem/blogItem
      include ../../components/Common/blogItem/blogItem
      include ../../components/Common/blogItem/blogItem
      include ../../components/Common/blogItem/blogItem
  .blog-list__pagination
    .blog-list__pagination-inner
      include ../../components/Common/pagination/paginationBlogs
  .blog-list__socials
    include ../WeSocials/weSocials
