.product-buttons
  .product-buttons__buttons
    a(href="#").button.product-buttons__button
      svg.icon.button__icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-tocart")
      span В корзину
    a(href="#").button.button--bs.product-buttons__button Купить в 1 клик
    a(href="#").button.button--bs.product-buttons__button
      .button__add
        .button__add-text В наличии в Москве, забирайте сегодня!
        svg.icon.button__add-icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-long-arrow-down")
      span Забрать в магазине
  .product-buttons__description Товар в наличии и готов к отправке. Передача в курьерские службы в течение 1 рабочего дня.