.team
  .team__tabs
    include ../../components/Team/TeamTabs/teamTabs
  .team__category.row.row--2(data-category="all")
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem
  .team__category.row.row--2(data-category="skateboard")
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem2
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem2
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem2
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem2
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem2
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem2
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem2
  .team__category.row.row--2(data-category="snowboard")
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem3
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem3
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem3
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem3
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem3
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem3
    .col-sm-4.col-md-3.col-lg-2
      include ../../components/Team/PersonItem/personItem3
  .team__socials
    include ../WeSocials/weSocials