.letter-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  &__item {
    font-size: $fs-24;
    padding: 7px;
    cursor: pointer;
    font-family: $f-osward;
    text-transform: uppercase;
    color: $c-grey;
    transition: $t-normal;
    &--active {
      color: $c-blue;
    }
  }
}