.up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  padding: 20px;
  box-sizing: content-box;
  border-radius: 50%;
  background: $c-blue;
  fill: $c-white;
  z-index: 100;
  width: 10px;
  height: 10px;
  transition: $t-normal;
  opacity: 0;
  visibility: hidden;
  &--visible {
    opacity: 1;
    visibility: visible;
  }
}
