.catalog
  .catalog__row.row.row--2
    .catalog__category.col-sm-4
      // a(href="#").catalog__category-title Обувь
      .catalog__category-items
        a(href='#').catalog__category-section Обувь
        a(href='#').catalog__category-section Одежда
        a(href='#').catalog__category-section Багаж
        a(href='#').catalog__category-section Скейтбординг
        a(href='#').catalog__category-section Сноуборд и лыжи
        a(href='#').catalog__category-section Самокаты
        a(href='#').catalog__category-section Водный спорт
        a(href='#').catalog__category-section Защита
        a(href='#').catalog__category-section Аксессуары
        a(href='#').catalog__category-section сквот.дисконт



    .catalog__category.col-sm-4
      .catalog__category-items
        a(href="#").catalog__category-item Футболки и майки
        a(href="#").catalog__category-item Джинсы и брюки
        a(href="#").catalog__category-item Шорты
        a(href="#").catalog__category-item Толстовки
        a(href="#").catalog__category-item Куртки
        a(href="#").catalog__category-item Жилетки
        a(href="#").catalog__category-item Рубашки
        a(href="#").catalog__category-item Свитера
        a(href="#").catalog__category-item Кепки
        a(href="#").catalog__category-item Перчатки и варежки
        a(href="#").catalog__category-item Нижнее бельё
        a(href="#").catalog__category-item Шапки и шарфы
        a(href="#").catalog__category-item Балаклавы
        a(href="#").catalog__category-item Термобельё и лайкра
        a(href="#").catalog__category-item Платья и юбки

    .catalog__category.col-sm-4
      .catalog__category-items
        a(href="#").catalog__category-item Рюкзаки
        a(href="#").catalog__category-item Сумки
        a(href="#").catalog__category-item Сумки на колесах
        a(href="#").catalog__category-item Женские сумочки
        a(href="#").catalog__category-item Сумки на пояс
        a(href="#").catalog__category-item Косметички
        a(href="#").catalog__category-item Пеналы
        a(href="#").catalog__category-item Чехлы для масок
        a(href="#").catalog__category-item Чехлы для сноубордов
        a(href="#").catalog__category-item Чехлы для лыж
