.catalog
  .catalog__row.row.row--2
    .catalog__category.col-sm-3
      a(href="#").catalog__category-title Обувь
      .catalog__category-items
        a(href="#").catalog__category-item Ботинки
        a(href="#").catalog__category-item Кеды
        a(href="#").catalog__category-item Шлёпанцы
        a(href="#").catalog__category-item Слипоны
        a(href="#").catalog__category-item Мокасины
        a(href="#").catalog__category-item Сапоги

    .catalog__category.col-sm-3
      a(href="#").catalog__category-title Одежда
      .catalog__category-items
        a(href="#").catalog__category-item Футболки и майки
        a(href="#").catalog__category-item Джинсы и брюки
        a(href="#").catalog__category-item Шорты
        a(href="#").catalog__category-item Толстовки
        a(href="#").catalog__category-item Куртки
        a(href="#").catalog__category-item Жилетки
        a(href="#").catalog__category-item Рубашки
        a(href="#").catalog__category-item Свитера
        a(href="#").catalog__category-item Кепки
        a(href="#").catalog__category-item Перчатки и варежки
        a(href="#").catalog__category-item Нижнее бельё
        a(href="#").catalog__category-item Шапки и шарфы
        a(href="#").catalog__category-item Балаклавы
        a(href="#").catalog__category-item Термобельё и лайкра
        a(href="#").catalog__category-item Платья и юбки
        a(href="#").catalog__category-item Купальники

    .catalog__category.col-sm-3
      a(href="#").catalog__category-title Багаж
      .catalog__category-items
        a(href="#").catalog__category-item Рюкзаки
        a(href="#").catalog__category-item Сумки
        a(href="#").catalog__category-item Сумки на колесах
        a(href="#").catalog__category-item Женские сумочки
        a(href="#").catalog__category-item Сумки на пояс
        a(href="#").catalog__category-item Косметички
        a(href="#").catalog__category-item Пеналы
        a(href="#").catalog__category-item Чехлы для масок
        a(href="#").catalog__category-item Чехлы для сноубордов
        a(href="#").catalog__category-item Чехлы для лыж
        a(href="#").catalog__category-item Чехлы для сёрфа
        a(href="#").catalog__category-item Чехлы для телефонов
        a(href="#").catalog__category-item Чехлы для ноутбуков
        a(href="#").catalog__category-item Чехлы для планшетов
        a(href="#").catalog__category-item Чехлы для скейта
        a(href="#").catalog__category-item Сумки для ботинок
        a(href="#").catalog__category-item Ланчбоксы
    .catalog__category.col-sm-3
      a(href="#").catalog__category-title Скеитбординг
      .catalog__category-items
        a(href="#").catalog__category-item Лонгборды и круизеры
        a(href="#").catalog__category-item Скейтборды в сборе
        a(href="#").catalog__category-item Амортизаторы
        a(href="#").catalog__category-item Винты
        a(href="#").catalog__category-item Деки
        a(href="#").catalog__category-item Кингпины
        a(href="#").catalog__category-item Колеса для скейта
        a(href="#").catalog__category-item Подвески для скейта
        a(href="#").catalog__category-item Подкладки под траки
        a(href="#").catalog__category-item Подшипники для скейта
        a(href="#").catalog__category-item Шкурка для скейта
        a(href="#").catalog__category-item Ключи для скейта
        a(href="#").catalog__category-item Парафин
        a(href="#").catalog__category-item Слайдеры для скейта
        a(href="#").catalog__category-item Рейлы для скейта
        a(href="#").catalog__category-item Ластики для шкурки
  .catalog__divider
  .catalog__row.row
    .catalog__category.col-sm-3
      a(href="#").catalog__category-title Сноуборд и лыжи
      .catalog__category-items
        a(href="#").catalog__category-item Сноуборды
        a(href="#").catalog__category-item Крепления для сноуборда
        a(href="#").catalog__category-item Ботинки для сноуборда
        a(href="#").catalog__category-item Горные лыжи Newschool
        a(href="#").catalog__category-item Крепления для горных лыж
        a(href="#").catalog__category-item Сноускейты
        a(href="#").catalog__category-item Инструменты
    .catalog__category.col-sm-3
      a(href="#").catalog__category-title Самокаты
      .catalog__category-items
        a(href="#").catalog__category-item Самокаты в сборе
        a(href="#").catalog__category-item Вилки для кикскутеров
        a(href="#").catalog__category-item Зажимы и компрессии
        a(href="#").catalog__category-item Рули для самокатов
        a(href="#").catalog__category-item Тормоза для самокатов
        a(href="#").catalog__category-item Шкурки для самокатов
        a(href="#").catalog__category-item Колеса для самокатов
        a(href="#").catalog__category-item Деки для самокатов
        a(href="#").catalog__category-item Грипсы
        a(href="#").catalog__category-item Баренды для самокатов
        a(href="#").catalog__category-item Пеги
        a(href="#").catalog__category-item Запчасти для самокатов
        a(href="#").catalog__category-item Рулевая
        a(href="#").catalog__category-item Подшипники
    .catalog__category.col-sm-3
      a(href="#").catalog__category-title Водный спорт
      .catalog__category-items
        a(href="#").catalog__category-item Трапеции
        a(href="#").catalog__category-item Коврики
        a(href="#").catalog__category-item Аксессуары
        a(href="#").catalog__category-item Одежда для серфинга
      a(href="#").catalog__category-title Защита
      .catalog__category-items
        a(href="#").catalog__category-item Шлемы
        a(href="#").catalog__category-item Маски для сноуборда
        a(href="#").catalog__category-item Защита туловища
        a(href="#").catalog__category-item Наколенники
        a(href="#").catalog__category-item Налокотники
        a(href="#").catalog__category-item Защита кисти
        a(href="#").catalog__category-item Комплекты защиты
        a(href="#").catalog__category-item Шорты защитные
    .catalog__category.col-sm-3
      a(href="#").catalog__category-title Аксессуары
      .catalog__category-items
        a(href="#").catalog__category-item Банданы
        a(href="#").catalog__category-item Наклейки
        a(href="#").catalog__category-item Полотенца
        a(href="#").catalog__category-item Ремни
        a(href="#").catalog__category-item Кошельки
        a(href="#").catalog__category-item Напульсники
        a(href="#").catalog__category-item Солнцезащитные очки
        a(href="#").catalog__category-item Шнурки
        a(href="#").catalog__category-item Фингерборды
        a(href="#").catalog__category-item Пряжки
        a(href="#").catalog__category-item Нашивки
        a(href="#").catalog__category-item Линзы для IPhone
        a(href="#").catalog__category-item Брелоки
        a(href="#").catalog__category-item Йо-Йо
        a(href="#").catalog__category-item Часы
        a(href="#").catalog__category-item Журналы
