.breadcrumbs.breadcrumbs--lighter
  a(href="index.html").breadcrumbs__link Главная
  a(href="catalog.html").breadcrumbs__link Одежда
  a(href="#").breadcrumbs__link Куртка сноубордическая THIRTYTWO Sesh Jacket black