.services
  .row.row--2
    include ../../components/service/serviceDelivery
    include ../../components/service/service24h
    include ../../components/service/serviceExchange
    include ../../components/service/servicePromo