.services
  .row.row--2
    include ../../components/Common/service/serviceDelivery
    include ../../components/Common/service/service24h
    include ../../components/Common/service/serviceExchange
    include ../../components/Common/service/servicePromo