.checkbox
  input(type="checkbox")#chk-sex-1.checkbox__input
  label(for="chk-sex-1").checkbox__label
    .checkbox__box
      svg.icon.checkbox__icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
    .checkbox__name Name