.cart-payment
  .cart-payment__delivery
    .cart-payment__container
      .cart-payment__title Город доставки
    .cart-payment__section
      .cart-payment__container
        .cart-payment__city Санкт петербург
        a(href="#" class="link").cart-payment__change Изменить
    //- Order method
    .cart-payment__container
      .cart-payment__title Способ доставки:
    .cart-payment__section
      .cart-payment__container
        .cart-payment__method
          .cart-payment__method-title Пункты выдачи заказов: «Главпункт»
        a(href="#" class="link").cart-payment__change Изменить
      .cart-payment__container
        .cart-payment__method-content
          div.p
            div <span class="semi">Адрес:</span> Санкт-Петербург, Алтайская ул., д.16
            div Стоимость доставки: 200 руб.
            div Срок доставки: 4 дня
          div.p.important Важно: Нельзя выкупить заказ частично и примерить перед покупкой. Не доставляют заказы дороже 15 000 руб.
          div.p
            div
              span.semi Время работы:
            div пн (09:00 - 21:00;)
            div вт (09:00 - 21:00;)
            div ср (09:00 - 21:00;)
            div чт (09:00 - 21:00;)
            div пт (09:00 - 21:00;)
            div сб (09:00 - 21:00;)
            div сб (09:00 - 21:00;)
          div.p
            div
              span.semi Как добраться:
            div Ст. м. "Комендантский проспект". 5-я линия метро. Правый выход из метро к Комендантскому пр-кту. Выйти из метро и идти прямо 100 метров к ул. Ильюшина. Транспорт: автобус № 126. Проехать 5 остановок. Выйти на ост. "Богатырский проспект" Пункт выдачи заказов расположен на первом этаже многоэтажного жилого дома, вывеска "Яркий Фотомаркет".
    //- Order payment
    .cart-payment__container
      .cart-payment__title Способ оплаты:
    .cart-payment__section
      .cart-payment__container
        .cart-payment__payment-services
          .cart-payment__section-title Электронные платежные системы
        a(href="#" class="link").cart-payment__change Изменить
      .cart-payment__container
        .cart-payment__payments-icons
          .cart-payment__payments-icon(style="background-image: url(img/mastercart.svg)")
          .cart-payment__payments-icon(style="background-image: url(img/mastercart1.svg)")
          .cart-payment__payments-icon(style="background-image: url(img/paypal.svg)")
          .cart-payment__payments-icon(style="background-image: url(img/visa1.svg)")