.brand-products
  .brand-products__title Товары ELEMENT:
  .brand-products__list.row.row--2
    .col-md-3.col-sm-6.brand-products__col
      a(href="#").brand-products__item Ботинки
      a(href="#").brand-products__item Кеды
      a(href="#").brand-products__item Мокасины
      a(href="#").brand-products__item Куртки
      a(href="#").brand-products__item Платья
      a(href="#").brand-products__item Юбки
      a(href="#").brand-products__item Свитера
      a(href="#").brand-products__item Футболки
      a(href="#").brand-products__item Кепки
    .col-md-3.col-sm-6.brand-products__col
      a(href="#").brand-products__item Ботинки
      a(href="#").brand-products__item Кеды
      a(href="#").brand-products__item Мокасины
      a(href="#").brand-products__item Куртки
      a(href="#").brand-products__item Платья
      a(href="#").brand-products__item Юбки
      a(href="#").brand-products__item Свитера
      a(href="#").brand-products__item Футболки
      a(href="#").brand-products__item Кепки
    .col-md-3.col-sm-6.brand-products__col
      a(href="#").brand-products__item Ботинки
      a(href="#").brand-products__item Кеды
      a(href="#").brand-products__item Мокасины
      a(href="#").brand-products__item Куртки
      a(href="#").brand-products__item Платья
      a(href="#").brand-products__item Юбки
      a(href="#").brand-products__item Свитера
      a(href="#").brand-products__item Футболки
      a(href="#").brand-products__item Кепки
    .col-md-3.col-sm-6.brand-products__col
      a(href="#").brand-products__item Ботинки
      a(href="#").brand-products__item Кеды
      a(href="#").brand-products__item Мокасины
      a(href="#").brand-products__item Куртки
      a(href="#").brand-products__item Платья
      a(href="#").brand-products__item Юбки
      a(href="#").brand-products__item Свитера
      a(href="#").brand-products__item Футболки
      a(href="#").brand-products__item Кепки