.cart-popup.js-cart-popup
  .cart-popup__header
    .cart-popup__title Моя корзина (<span>18</span>)
    a(href="#").cart-popup__clean Очистить корзину
  .cart-popup__main
    include ../../components/Header/cartPopupItem/cartPopupItem
    include ../../components/Header/cartPopupItem/cartPopupItem
    include ../../components/Header/cartPopupItem/cartPopupItem
  .cart-popup__footer
    .cart-popup__total Всего: <span>4299 ₽</span>
    include ../../components/UI/button/button