.cart {
  &__total {
    border-top: 1px solid $c-light-grey-2;
    border-bottom: 1px solid $c-light-grey-2;
    &-total {
      font-size: $fs-18;
      font-weight: $fw-semibold;
      padding: 15px 0;
      padding-right: 20px;
      span {
        color: $c-yellow;
      }
    }
  }
  &__ordering {
    margin-top: 40px;
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$screen} {
  .cart {
    &__total {
      text-align: right;
    }
  }
}