.cart
  .cart__items
    include ../../components/Cart/cartItem/cartItemOrder
    include ../../components/Cart/cartItem/cartItemOrder
    include ../../components/Cart/cartItem/cartItemOrder
    include ../../components/Cart/cartItem/cartItemOrder
    include ../../components/Cart/cartItem/cartItemOrder
    include ../../components/Cart/cartItem/cartItemOrder
    include ../../components/Cart/cartItem/cartItemOrder
    include ../../components/Cart/cartItem/cartItemOrder
    .cart__total.row.row--2
      .col-lg-2.col-lg-offset-8.cart__total-total Итого: <span>3442565P</span>
  .cart__payment
    include payment/payment
  .cart__form-order
    include ../../components/Forms/formOrder/formOrder