a(href="#").col-md-3.col-sm-6.col-xs-12.service
  svg.icon.service__icon
    use(xlink:href="img/svg-sprites/sprite.svg#icon-promo")
  .service__title ПРОМО-КОДЫ И КАРТЫ
  .service__subtitle Возвращаем до 40% от суммы заказа и дарим дисконтную карту каждому
  .service__detail
    .service__detail-text Подробнее
    svg.icon.service__detail-icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-detail")