a(href="#").col-md-3.col-sm-6.col-xs-12.service
  svg.icon.service__icon
    use(xlink:href="img/svg-sprites/sprite.svg#icon-24h")
  .service__title ЗАКАЗЫВАЙТЕ КРУГЛОСУТОЧНО
  .service__subtitle Подтверждаем и собираем заказы в течение суток
  .service__detail
    .service__detail-text Подробнее
    svg.icon.service__detail-icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-detail")