.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: transform .2s ease-in;
}

//------------------------------
// Header top
//------------------------------
.header__top {
  background: $c-dark;
}

.header__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  position: relative;
  padding: 0;
}

//------------------------------
// Header bottom
//------------------------------

.header__bottom {
  background-color: $c-black;
}


.header__item {
  position: relative;
  height: 75px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $c-white-op-2;
  transition: background-color $t-normal;
}

.header__item:last-child {
  border-right: 1px solid $c-white-op-2;
}
.header__item--search {
  position: relative;
  background: $c-black;
  z-index: 11;
}
.header__item--search-field {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 10;
  background: $c-black;
  color: $c-white;
  transform: translateX(-100%);
  visibility: hidden;
  width: calc(100% - 8.33333333% + 1px);
}
.header__item--search-field.opened {
  visibility: visible;
}
.header__item--clickable {
  cursor: pointer;
  user-select: none;
}
.header__item--clickable:hover {
  background: $c-blue;
}

.header__item--active {
  background: $c-blue;
}

//------------------------------
// Header catalog
//------------------------------

.header__catalog {
  position: relative;
  display: none;
}


//------------------------------
// Header cart
//------------------------------
// .header__item--cart:hover {
//   .cart-popup {
//     visibility: visible;
//     opacity: 1;
//   }
// }


//------------------------------
// Responsive
//------------------------------
@media #{$screen} {
  .header__container {
    width: 100%;
    padding: 0;
    &--top {
      padding: 0 15px;
    }
  }
  .header__item:first-child {
    border: none;
  }
  .header__catalog {
    max-width: 100%;
    width: 100%;
  }
}
@media #{$tablet} {
  .header__top-content,
  .header__item--phone,
  .header__item--search,
  .header__item--search-field {
    display: none;
  }
}
@media #{$phone} {
  .header__item--cart {
    position: inherit;
  }
}
