.review.row.row--2
  .col-md-3.col-sm-3.review__image-wrap.review__images
    .review__image(style="background-image: url(img/review.png)")
    .review__image(style="background-image: url(img/review-1.png)")
  .col-md-6.col-sm-7.review__content.js-review-slider
    .review__slides
      .review__item
        .review__text Качественный наждак, приехал завёрнутым в рулон. В коробке дали наклейки и тетрадку. Нормальный в общем магазин, не понимаю чего все в соцсетях гонят.
        .review__bottom
          .review__author Евгений Великоиваненко
          .review__thing Написал <a href="#">о рюкзаке DAKINE Mission Pack 105 L Dark Blue</a>
      .review__item
        .review__text Завёрнутым в рулон. В коробке дали наклейки и тетрадку. Нормальный в общем магазин, не понимаю чего все в соцсетях гонят.
        .review__bottom
          .review__author Сергей Минаев
          .review__thing Написал <a href="#">о рюкзаке DAKINE Mission Pack 105 L Dark Blue</a>
  .col-md-3.col-sm-2.review__controls
    .review__control.review-prev
      svg.icon.review__icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-left-arrow")
    .review__control.review-next
      svg.icon.review__icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-right-arrow")
