.team-tabs.tabs
  .row.row--2
    .col-sm-4.team-tabs__tab.tabs__tab.tabs__tab--active(data-category="all") Все
    .col-sm-4.team-tabs__tab.tabs__tab(data-category="skateboard") Скейтборд
    .col-sm-4.team-tabs__tab.tabs__tab(data-category="snowboard") Сноуборд