.filter-price
  .filter-price__inputs
    input(type="text" name="priceFrom")#filter-price-input-1.filter-price__input.input
    input(type="text" name="priceTo")#filter-price-input-2.filter-price__input.input
  .filter-price__range(data-min-range="0", data-max-range="2000")#filter-price-range