.product-info
  .product-info__details
    .product-info__detail <span>Код товара:</span> <a href="#">00091101</a>
    .product-info__detail <span>Теги:</span> <a href="#">Для сноубординга</a>
  .product-info__services
    .product-info__service
      svg.icon.product-info__service-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-garant")
      .product-info__service-text 100% гарантия подлинности товара
    .product-info__service
      svg.icon.product-info__service-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-tshirt")
      .product-info__service-text Самый большой выбор PICTURE ORGANIC в рунете