a(href="#").top-item.top-item--big
  .top-item__top
    .top-item__image(href="img/top-2.jpg" style="background-image: url(img/top-2.jpg)")
    .top-item__view.button Посмотреть
  .top-item__content
    .top-item__title Лонгборд "Рыбка" GLOBE Sun City Complete 30" half dip bamboo/blue
    .top-item__price
      .top-item__price-old 18400 ₽
      .top-item__price-new 8400 ₽
    .top-item__label -30%