a(href="#").top-item.top-item--catalog
  .top-item__top
    .top-item__image(href="img/top-2.jpg" style="background-image: url(img/top-2.jpg)")
    .top-item__view.button Посмотреть
  .top-item__content
    .top-item__title Зимние ботинки ELEMENT Donnelly Bark
    .top-item__price
      .top-item__price-old 18400 ₽
      .top-item__price-new 8400 ₽
    .top-item__label -30%