.cart-popup-item
  .cart-popup-item__image(style="background-image: url('img/cart-popup-1.png')")
  .cart-popup-item__content
    a(href="#").cart-popup-item__title СКЕЙТБОРД В СБОРЕ DUSTERS SS17 LOCOS WONG CRUISER WHITE 31 IN
    .cart-popup-item__price
      .cart-popup-item__price-old 9854 ₽
      .cart-popup-item__price-new 6854 ₽
      a(href="#").cart-popup-item__delete Удалить
    ul.cart-popup-item__description
      li Цвет: Белый
      li Размер: 178