.filter-colors
  .filter-colors__color.color(data-light="true" data-color="ffffff" data-color-name="white")
    input(type="checkbox")#chk-color-1.color__input
    label(for="chk-color-1").color__label
      .color__box
        svg.icon.color__icon-checked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        svg.icon.color__icon-unchecked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-close")
  .filter-colors__color.color(data-light="true" data-color="e5e5e5" data-color-name="grey")
    input(type="checkbox")#chk-color-2.color__input
    label(for="chk-color-2").color__label
      .color__box
        svg.icon.color__icon-checked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        svg.icon.color__icon-unchecked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-close")
  .filter-colors__color.color(data-light="false" data-color="feb312" data-color-name="yellow")
    input(type="checkbox")#chk-color-3.color__input
    label(for="chk-color-3").color__label
      .color__box
        svg.icon.color__icon-checked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        svg.icon.color__icon-unchecked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-close")
  .filter-colors__color.color(data-light="false" data-color="f36b26" data-color-name="orange")
    input(type="checkbox")#chk-color-4.color__input
    label(for="chk-color-4").color__label
      .color__box
        svg.icon.color__icon-checked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        svg.icon.color__icon-unchecked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-close")
  .filter-colors__color.color(data-light="false" data-color="e7352b" data-color-name="red")
    input(type="checkbox")#chk-color-5.color__input
    label(for="chk-color-5").color__label
      .color__box
        svg.icon.color__icon-checked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        svg.icon.color__icon-unchecked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-close")
  .filter-colors__color.color(data-light="false" data-color="8d429f" data-color-name="violet")
    input(type="checkbox")#chk-color-6.color__input
    label(for="chk-color-6").color__label
      .color__box
        svg.icon.color__icon-checked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        svg.icon.color__icon-unchecked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-close")
  .filter-colors__color.color(data-light="false" data-color="5bb22c" data-color-name="green")
    input(type="checkbox")#chk-color-7.color__input
    label(for="chk-color-7").color__label
      .color__box
        svg.icon.color__icon-checked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        svg.icon.color__icon-unchecked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-close")
  .filter-colors__color.color(data-light="false" data-color="000000" data-color-name="black")
    input(type="checkbox")#chk-color-8.color__input
    label(for="chk-color-8").color__label
      .color__box
        svg.icon.color__icon-checked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        svg.icon.color__icon-unchecked
          use(xlink:href="img/svg-sprites/sprite.svg#icon-close")