.brands-alphabet
  include ../../../components/brands/brandsSection/brandsSectionA
  include ../../../components/brands/brandsSection/brandsSectionB
  include ../../../components/brands/brandsSection/brandsSectionC
  include ../../../components/brands/brandsSection/brandsSectionD
  include ../../../components/brands/brandsSection/brandsSectionE
  include ../../../components/brands/brandsSection/brandsSectionF
  include ../../../components/brands/brandsSection/brandsSectionG
  include ../../../components/brands/brandsSection/brandsSectionH
  include ../../../components/brands/brandsSection/brandsSectionI
  include ../../../components/brands/brandsSection/brandsSectionJ