.brands-alphabet
  include ../../../components/Brands/brandsSection/brandsSectionA
  include ../../../components/Brands/brandsSection/brandsSectionB
  include ../../../components/Brands/brandsSection/brandsSectionC
  include ../../../components/Brands/brandsSection/brandsSectionD
  include ../../../components/Brands/brandsSection/brandsSectionE
  include ../../../components/Brands/brandsSection/brandsSectionF
  include ../../../components/Brands/brandsSection/brandsSectionG
  include ../../../components/Brands/brandsSection/brandsSectionH
  include ../../../components/Brands/brandsSection/brandsSectionI
  include ../../../components/Brands/brandsSection/brandsSectionJ