include ../../../components/Common/letterContent/letterContent

.alphabet
  +letterContent({ letter: 'a', names: [
    'ADDICT',
    'ADIDAS',
    'ADIO',
    'AIRBLASTER',
    'ALMOST',
    'ALTAMONT',
    'ANDALE',
    'ANON',
    'AO',
    'APEX',
    'APO',
    'ASHBURY',
    'AWS'
    ]})
  +letterContent({ letter: 'b', names: [
    'BAKER',
    'BILLABONG',
    'BIRDHOUSE',
    'BLACK LABEL',
    'BLACKBOX',
    'BLAST',
    'BLIND',
    'BLITZ',
    'BLUNT',
    'BRITISH KNIGHTS',
    'Bro Style',
    'BRONSON',
    'BURTON',
    'BULLET'
    ]})
  +letterContent({ letter: 'c', names: [
    'C1RCA',
    'CLICHE',
    'CLWR',
    'CONVERSE',
    'CREATURE',
    'CRIME'
    ]})
  +letterContent({ letter: 'd', names: [
    'DAKINE',
    'DARKSTAR',
    'DC',
    'DEATH LENS',
    'DEKLINE',
    'DESTROYER',
    'DESTRUCTO',
    'DARKSTAR',
    'DEWAR\'S',
    'DIAMOND',
    'DICKIES',
    'DUOTONE',
    'DUSTERS',
    'DVS'
    ]})
  +letterContent({ letter: 'e', names: [
    'ELEMENT',
    'EMERGENCY',
    'EMERICA',
    'ENJOI',
    'ES',
    'ETHIC',
    'ETNIES'
    ]})
  +letterContent({ letter: 'f', names: [
    'FALLEN',
    'FLATFITTY',
    'FLAVOR',
    'FLIP',
    'FORUM',
    'FOUNDATION'
    ]})
  +letterContent({ letter: 'g', names: [
    'GALLAZ',
    'GLOBE',
    'GOLD CUP',
    'GREMMIE',
    'GRENADE',
    'GRIZZLY'
    ]})
  +letterContent({ letter: 'h', names: [
    'HABITAT',
    'HALTI',
    'HELLA GRIP',
    'HOBO',
    'HOOK-UPS',
    'HUF'
    ]})
  +letterContent({ letter: 'i', names: [
    'ICON',
    'IMPERIVM',
    'INDEPENDENT',
    'INNES',
    'HOOK-UPS',
    'INSIGHT'
    ]})
  +letterContent({ letter: 'j', names: [
    'JEE VICE',
    'JESSUP'
    ]})
