.product-preview
  .product-preview__slider
    .product-preview__slider-slide(href="img/product-1.jpg" style="background-image: url('img/product-1.jpg')")
    .product-preview__slider-slide(href="img/top-1.jpg" style="background-image: url('img/top-1.jpg')")
    .product-preview__slider-slide(href="img/top-2.jpg" style="background-image: url('img/top-2.jpg')")
    .product-preview__slider-slide(href="img/top-1.jpg" style="background-image: url('img/top-1.jpg')")
    .product-preview__slider-slide(href="img/top-2.jpg" style="background-image: url('img/top-2.jpg')")
    .product-preview__slider-slide(href="img/top-2.jpg" style="background-image: url('img/top-2.jpg')")
    .product-preview__slider-slide(href="img/top-2.jpg" style="background-image: url('img/top-2.jpg')")

  .product-preview__items-slider
    .product-preview__items-slider-slide(style="background-image: url('img/product-1.jpg')")
    .product-preview__items-slider-slide(style="background-image: url('img/top-1.jpg')")
    .product-preview__items-slider-slide(style="background-image: url('img/top-2.jpg')")
    .product-preview__items-slider-slide(style="background-image: url('img/top-1.jpg')")
    .product-preview__items-slider-slide(style="background-image: url('img/top-2.jpg')")
    .product-preview__items-slider-slide(style="background-image: url('img/top-2.jpg')")
    .product-preview__items-slider-slide(style="background-image: url('img/top-2.jpg')")
