include ../../components/Common/gmap/gmap

.delivery-point
  .delivery-point__title Пункты выдачи заказов интернет магазина Сквот в «Владимирская область»
  .delivery-point__locations
    .delivery-point__map
      +gmap({ addClass: 'gmap-wrap--delivery', lat: '55.793989', lng: '37.490245' })
      .delivery-point__content
        .delivery-point__content-btn
          svg.icon.delivery-point__content-btn-icon
             use(xlink:href='img/svg-sprites/sprite.svg#icon-right-arrow')
        .delivery-point__blocks
          .delivery-point__block-left
            .delivery-point__list-items
              .delivery-point__list-item(data-id="1") Санкт петербург, Автовская ул. д.3
              .delivery-point__list-item(data-id="2") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="3") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="4") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="5") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="6") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="7") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="8") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="9") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="10") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="11") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="12") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25
              .delivery-point__list-item(data-id="13") Санкт петербург, В.О. ул. 6-ая лн., д.25

          .delivery-point__block-right
            input.input.input--form.delivery-point__search(placeholder="Поиск адреса")
            .delivery-point__abouts
              .delivery-point__about(data-id="1")
                .delivery-point__about-top
                  .delivery-point__about-title Яркий фотомаркет
                  a(href="#").button.button--yellow Выбрать этот пункт выдачи заказов
                  .close.delivery-point__about-close
                .delivery-point__about-content
                  div.p
                    div <span class="semi">Адрес:</span> Санкт-Петербург, Алтайская ул., д.16
                    div Стоимость доставки: 200 руб.
                    div Срок доставки: 4 дня
                  div.p.important Важно: Нельзя выкупить заказ частично и примерить перед покупкой. Не доставляют заказы дороже 15 000 руб.
                  div.p
                    div
                      span.semi Время работы:
                    div пн (09:00 - 21:00;)
                    div вт (09:00 - 21:00;)
                    div ср (09:00 - 21:00;)
                    div чт (09:00 - 21:00;)
                    div пт (09:00 - 21:00;)
                    div сб (09:00 - 21:00;)
                    div сб (09:00 - 21:00;)
                  div.p
                    div
                      span.semi Как добраться:
                    div Ст. м. "Комендантский проспект". 5-я линия метро. Правый выход из метро к Комендантскому пр-кту. Выйти из метро и идти прямо 100 метров к ул. Ильюшина. Транспорт: автобус № 126. Проехать 5 остановок. Выйти на ост. "Богатырский проспект" Пункт выдачи заказов расположен на первом этаже многоэтажного жилого дома, вывеска "Яркий Фотомаркет".
              .delivery-point__about(data-id="2")
                .delivery-point__about-top
                  .delivery-point__about-title ТЦ Глобус
                  a(href="#").button.button--yellow Выбрать этот пункт выдачи заказов
                  .close.delivery-point__about-close
                .delivery-point__about-content
                  div.p
                    div <span class="semi">Адрес:</span> Санкт-Петербург, Алтайская ул., д.16
                    div Стоимость доставки: 200 руб.
                    div Срок доставки: 4 дня
                  div.p.important Важно: Нельзя выкупить заказ частично и примерить перед покупкой. Не доставляют заказы дороже 15 000 руб.
                  div.p
                    div
                      span.semi Время работы:
                    div пн (09:00 - 21:00;)
                    div вт (09:00 - 21:00;)
                    div ср (09:00 - 21:00;)
                    div чт (09:00 - 21:00;)
                    div пт (09:00 - 21:00;)
                    div сб (09:00 - 21:00;)
                    div сб (09:00 - 21:00;)
                  div.p
                    div
                      span.semi Как добраться:
                    div Ст. м. "Комендантский проспект". 5-я линия метро. Правый выход из метро к Комендантскому пр-кту. Выйти из метро и идти прямо 100 метров к ул. Ильюшина. Транспорт: автобус № 126. Проехать 5 остановок. Выйти на ост. "Богатырский проспект" Пункт выдачи заказов расположен на первом этаже многоэтажного жилого дома, вывеска "Яркий Фотомаркет".

  .delivery-point__post
    .delivery-point__post-top
      .delivery-point__post-title Почта России
      .delivery-point__post-title-logo(style="background-image: url('img/post.png')")
    .delivery-point__post-content
      div.p Посылка с вашим заказом будет доставлена в указанное вами отделение Почты России (определяется почтовым индексом). При поступлении вашей посылки в почтовое отделение Вам в почтовый ящик положат уведомление, с которым Вы должны явиться в почтовое отделение (его адрес так же будет указан на самом уведомлении) и выкупить посылку. Почтовые отделения есть во всех населенных пунктах России. Выбрав в качестве способа оплаты наложенный платеж, вы оплатите стоимость самого заказа и доставки при получении, в почтовом отделении.
      div.p Через 1-3 рабочих дня после отправки вашего заказа мы пришлем Вам номер вашего отправления, по которому Вы сможете отслеживать нахождение Вашей посылки. Это можно сделать напрямую на нашем сайте в личном кабинете в разделе Мои заказы" или введя присланный номер отправления на сайте Почты России в разделе "Отслеживание отправлений".
      div.p Выбирая данный способ доставки вы соглашаетесь с правилами работы и тарифами Почты России. www.russianpost.ru
  .delivery-point__info-wrap
    .delivery-point__info
      .delivery-point__info-top
        .delivery-point__info-item.delivery-point__info-item--static
        .delivery-point__info-item
          span Срок доставки
        .delivery-point__info-item.delivery-point__info-item--money
          span Наличными при получении
        .delivery-point__info-item.delivery-point__info-item--payment
          span Способы оплаты
        .delivery-point__info-item
          span 0.5 кг.
        .delivery-point__info-item
          span 1 кг.
        .delivery-point__info-item
          span 2 кг.
        .delivery-point__info-item
          span 3 кг.
        .delivery-point__info-item.delivery-point__info-item--static
      .delivery-point__info-bottom
        .delivery-point__info-item.delivery-point__info-item--static
        .delivery-point__info-item
          span 5 дн.
        .delivery-point__info-item.delivery-point__info-item--money
          svg.icon.delivery-point__info-icon.icon.delivery-point__info-icon--false
             use(xlink:href='img/svg-sprites/sprite.svg#icon-button')
          svg.icon.delivery-point__info-icon.icon.delivery-point__info-icon--true
             use(xlink:href='img/svg-sprites/sprite.svg#icon-checked')
        .delivery-point__info-item.delivery-point__info-item--payment
          .delivery-point__info-p-icon(style="background-image: url(img/mastercart.svg)")
          .delivery-point__info-p-icon(style="background-image: url(img/mastercart1.svg)")
          .delivery-point__info-p-icon(style="background-image: url(img/paypal.svg)")
          .delivery-point__info-p-icon(style="background-image: url(img/visa1.svg)")
        .delivery-point__info-item
          span 240 руб.
        .delivery-point__info-item
          span 258 руб.
        .delivery-point__info-item
          span 296 руб.
        .delivery-point__info-item
          span 334 руб.
        .delivery-point__info-item.delivery-point__info-item--static