.delivery-point {
  padding: 40px 0;
  &__map {
    position: relative;
  }
  &__title {
    padding: 0 70px;
    font-size: $fs-24;
  }

  &__locations {
    margin-top: 40px;
  }
  &__content {
    display: flex;
    overflow: hidden;
    position: absolute;
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    &--active {
      pointer-events: all;
    }
    &-btn {
      pointer-events: all;
      height: 40px;
      cursor: pointer;
      width: 40px;
      border: 1px solid $c-light-grey-2;
      display: flex;
      align-items: center;
      background: $c-white;
      justify-content: center;
      &-icon {
        width: 12px;
        height: 12px;
      }
      &--active {
        .delivery-point__content-btn-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__blocks {
    width: 100%;
    display: flex;
    margin-left: -1px;
    &--active {
      .delivery-point__block-right > *,
      .delivery-point__block-left > * {
        position: relative;
        transform: translateX(0%);
      }
      .delivery-point__block-right > * {
        transition-delay: .15s;
      }
      .delivery-point__block-left > * {
        transition-delay: 0s;
      }
    }
  }
  &__block-right,
  &__block-left {
    position: relative;
    overflow: hidden;
  }
  &__block-right {
    width: 65%;
  }
  &__block-left {
    width: 35%;
  }
  &__block-right > *,
  &__block-left > * {
    position: relative;
    transform: translateX(-120%);
    transition: $t-normal;
  }
  &__block-right > * {
    transition-delay: 0s;
  }
  &__block-left > * {
    transition-delay: .15s;
  }

  &__block-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
  }
  // POST
  &__post {
    padding: 50px 70px 30px;
  }
  &__post-content {
    line-height: $lh-1-5;
  }
  &__post-top {
    display: flex;
    align-items: center;
  }
  &__post-title {
    font-size: $fs-24;
  }
  &__post-title-logo {
    width: 50px;
    height: 30px;
    @include backgroundContain;
    margin-left: 15px;
  }
  &__list-items {
    width: 100%;
    overflow-y: auto;
    max-height: 100%;
  }
  &__list-item {
    cursor: pointer;
    user-select: none;
    font-size: $fs-13;
    border: 1px solid $c-light-grey-2;
    padding: 11px;
    &:not(:last-child) {
      border-bottom: none;
    }
    &--active {
      background: $c-light-grey-2;
    }
    background: $c-white;
  }

  &__abouts {
    position: relative;
    width: 100%;
    height: 350px;
  }
  &__about {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    opacity: 0;
    transition: $t-normal;
    background: $c-white-op-3;
    overflow-y: auto;
    &-content {
      margin-top: 20px;
      font-size: $fs-14;
    }
    &-close {
      margin-left: 15px;
    }
    &-top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &-title {
      font-size: $fs-18;
      margin-right: auto;
    }
  }
  &__search {
    max-width: 300px;
  }

  // INFO
  .delivery-point__info-wrap {
    width: 100%;
    overflow-x: auto;
  }
  .delivery-point__info {
    min-width: 1000px;
    overflow: hidden;
    font-size: $fs-14;
    border-top: 1px solid $c-light-grey-2;
    display: flex;
    flex-direction: column;
    &-p-icon {
      @include backgroundContain;
      width: 30px;
      height: 30px;
    }
    &-icon {
      width: 14px;
      height: 14px;
      &--false {
        fill: $c-red;
        width: 12px;
        height: 12px;
      }
      &--true {
        fill: $c-blue;
      }
    }
    &-top {
      display: flex;
      .delivery-point__info-item {
        background: $c-light-grey-2;
        font-weight: $fw-semibold;
      }
    }
    &-bottom {
      display: flex;
      .delivery-point__info-item {
        min-height: 50px;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5px;
      flex: 1;
      flex-wrap: wrap;
      border-bottom: 1px solid $c-light-grey-3;
      border-right: 1px solid $c-light-grey-3;
      &--static {
        width: 20px;
        flex: none !important;
      }
      &--payment,
      &--money {
        width: 220px;
        flex: none !important;
        & > *:not(:first-child) {
          margin-left: 7px;
        }
      }
    }
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$screen} {
  .delivery-point {
    // POST
    &__post {
      padding: 50px 15px;
    }
    &__about {
      &-top {
        flex-direction: column;
        & > *:nth-child(1) {
          order: 3;
          margin-right: auto;
          margin-top: 15px;
        }
        & > *:nth-child(2) {
          order: 2;
          margin-top: 15px;
        }
        & > *:nth-child(3) {
          order: 1;
          margin-left: auto;
        }
      }
    }
  }
}
@media #{$desktop} {
  .delivery-point {
    &__title {
      padding: 15px;
    }
    &__blocks {
      flex-direction: column;
    }
    &__block-right,
    &__block-left {
      width: 100%;
    }
    &__content {
      padding: 15px;
      flex-direction: column;
    }
    &__block-right {
      padding-left: 0;
      margin-top: 15px;
    }
    &__abouts {
      margin-top: 15px;
      max-width: 100%;
    }
    &__about {

    }
    &__list-items {
      max-height: 200px;
      height: 200px !important;
    }
    // INFO
    // .delivery-point__info {
    //   flex-direction: row;
    //   &-top {
    //     flex-direction: column;
    //   }
    //   &-bottom {
    //     flex-direction: column;
    //     flex: 1;
    //   }
    //   &-item {
    //     &--static {
    //       display: none;
    //     }
    //     &--payment,
    //     &--money {
    //       width: auto;
    //     }
    //   }
    // }
  }
}