.product-preview {
  &__slider {
    border: 1px solid $c-light-grey-2;
    margin-bottom: 15px;
    &-slide {
      position: relative;
      @include backgroundContain;
      height: 440px;
      outline: none;
      cursor: zoom-in;
      &:after {
        content: '';
        @include backgroundContain;
        background-image: url('../img/zoom.svg');
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

  }
  &__items-slider {
    // .slick-track {
    //   width: 100% !important;
    // }
    border: 1px solid $c-light-grey-2;
    height: 60px;
  }
  &__items-slider-slide {
    position: relative;
    width: 16.6666%;
    height: 60px;
    cursor: pointer;
    outline: none;
    @include backgroundContain;
    box-sizing: border-box;
    border-bottom: 3px solid $c-light-grey-2;
    &.slick-current {
      border-bottom: 3px solid $c-yellow;
    }
    &:not(:last-child)::after{
      display: inline-block;
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: $c-light-grey-2;
      z-index: 2;
      width: 1px;
    }
  }

}
