.brands-section(data-section="c")
  .brands-section__letter c
  .brands-section__list
    a(href="#").brands-section__item C1RCA
    a(href="#").brands-section__item CLICHE
    a(href="#").brands-section__item CLWR
    a(href="#").brands-section__item CONVERSE
    a(href="#").brands-section__item CREATURE
    a(href="#").brands-section__item CRIME
