.brands-section(data-section="g")
  .brands-section__letter g
  .brands-section__list
    a(href="#").brands-section__item GALLAZ
    a(href="#").brands-section__item GLOBE
    a(href="#").brands-section__item GOLD CUP
    a(href="#").brands-section__item GREMMIE
    a(href="#").brands-section__item GRENADE
    a(href="#").brands-section__item GRIZZLY

