.brands-section(data-section="e")
  .brands-section__letter e
  .brands-section__list
    a(href="#").brands-section__item ELEMENT
    a(href="#").brands-section__item EMERGENCY
    a(href="#").brands-section__item EMERICA
    a(href="#").brands-section__item ENJOI
    a(href="#").brands-section__item ES
    a(href="#").brands-section__item ETHIC
    a(href="#").brands-section__item ETNIES

