.brands-section(data-section="d")
  .brands-section__letter d
  .brands-section__list
    a(href="#").brands-section__item DAKINE
    a(href="#").brands-section__item DARKSTAR
    a(href="#").brands-section__item DC
    a(href="#").brands-section__item DEATH LENS
    a(href="#").brands-section__item DEKLINE
    a(href="#").brands-section__item DESTROYER
    a(href="#").brands-section__item DESTROYER
    a(href="#").brands-section__item DESTRUCTO
    a(href="#").brands-section__item DEWAR'S
    a(href="#").brands-section__item DIAMOND
    a(href="#").brands-section__item DICKIES
    a(href="#").brands-section__item DUOTONE
    a(href="#").brands-section__item DUSTERS
    a(href="#").brands-section__item DVS
