.brands-section(data-section="f")
  .brands-section__letter f
  .brands-section__list
    a(href="#").brands-section__item ELEMENT
    a(href="#").brands-section__item FALLEN
    a(href="#").brands-section__item FLATFITTY
    a(href="#").brands-section__item FLAVOR
    a(href="#").brands-section__item FLIP
    a(href="#").brands-section__item FORUM
    a(href="#").brands-section__item FOUNDATION

