.brands-section(data-section="a")
  .brands-section__letter a
  .brands-section__list
    a(href="#").brands-section__item ADDICT
    a(href="#").brands-section__item ADIDAS
    a(href="#").brands-section__item ADIO
    a(href="#").brands-section__item AIRBLASTER
    a(href="#").brands-section__item ALMOST
    a(href="#").brands-section__item ALTAMONT
    a(href="#").brands-section__item ANDALE
    a(href="#").brands-section__item ANON
    a(href="#").brands-section__item AO
    a(href="#").brands-section__item APEX
    a(href="#").brands-section__item APO
    a(href="#").brands-section__item ASHBURY
    a(href="#").brands-section__item AWS