.brands-section(data-section="b")
  .brands-section__letter b
  .brands-section__list
    a(href="#").brands-section__item BAKER
    a(href="#").brands-section__item BILLABONG
    a(href="#").brands-section__item BIRDHOUSE
    a(href="#").brands-section__item BLACK LABEL
    a(href="#").brands-section__item BLACKBOX
    a(href="#").brands-section__item BLAST
    a(href="#").brands-section__item BLIND
    a(href="#").brands-section__item BLITZ
    a(href="#").brands-section__item BLUNT
    a(href="#").brands-section__item BRITISH KNIGHTS
    a(href="#").brands-section__item Bro Style
    a(href="#").brands-section__item BRONSON
    a(href="#").brands-section__item BULLET
    a(href="#").brands-section__item BURTON