.brands-section(data-section="h")
  .brands-section__letter h
  .brands-section__list
    a(href="#").brands-section__item HABITAT
    a(href="#").brands-section__item HALTI
    a(href="#").brands-section__item HELLA GRIP
    a(href="#").brands-section__item HOBO
    a(href="#").brands-section__item HOOK-UPS
    a(href="#").brands-section__item HUF

