.brands-section(data-section="i")
  .brands-section__letter i
  .brands-section__list
    a(href="#").brands-section__item ICON
    a(href="#").brands-section__item IMPERIVM
    a(href="#").brands-section__item INDEPENDENT
    a(href="#").brands-section__item INNES
    a(href="#").brands-section__item INSIGHT

