a(href="#").col-md-3.col-sm-6.col-xs-12.service
  svg.icon.service__icon
    use(xlink:href="img/svg-sprites/sprite.svg#icon-delivery")
  .service__title БЫСТРАЯ ДОСТАВКА
  .service__subtitle Мы отправляем все заказы уже на следующий день после оформления
  .service__detail
    .service__detail-text Подробнее
    svg.icon.service__detail-icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-detail")