a(href="#").col-md-3.col-sm-6.col-xs-12.service
  svg.icon.service__icon
    use(xlink:href="img/svg-sprites/sprite.svg#icon-exchange")
  .service__title ОБМЕН И ВОЗВРАТ
  .service__subtitle Любой товар вы можете вернуть или поменять на нужный без лишних сложностей
  .service__detail
    .service__detail-text Подробнее
    svg.icon.service__detail-icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-detail")