.modal(data-modal="city-accept").js-modal
  .modal__content
    .modal__addition.modal__item Ваш город: <strong>Нижний Новгорд?</strong>
    .modal__item.modal__buttons
      a(href="#").button.button--modal Да
      a(href="#" data-modal="city").button.button--modal.button--transparent.js-modal-trigger Нет, выбрать другой город
    .modal__addition.modal__item От выбранного города зависит наличие товара и способы доставки