.modal(data-modal="city").js-modal
  .modal__content
    .modal__title.modal__item Где вы находитесь?
    .modal__cities.modal__item
      a(href="#") Москва
      a(href="#") Москва
      a(href="#") Москва
      a(href="#") Москва
      a(href="#") Москва
      a(href="#") Москва
      a(href="#") Москва
      a(href="#") Москва
    .modal__title.modal__item Другой город?
    input(type="text" placeholder="Введите свой город").modal__input.modal__item
    .modal__addition.modal__item Не нашли свой  населенный пункт? Выберите область или <a href="#">нажмите сюда</a>