a(href="#").col-sm-3.col-xs-6.we-social.we-social--facebook
  svg.icon.we-social__icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-facebook")
  .we-social__name Facebook
  .we-social__number 12089
  .we-social__subscribers Подписчиков
  .we-social__hash #skvotboardshop