.slider
  .slider-wrap
    .slider-main.js-slider
      .slider-main__slide(style="background-image: url('img/main-slider-image-2.jpg')")
      .slider-main__slide(style="background-image: url('img/main-slider-image-1.jpg')")
      .slider-main__slide(style="background-image: url('img/about.jpg')")
      .slider-main__slide(style="background-image: url('img/collection-h.jpg')")
      .slider-main__slide(style="background-image: url('img/brand.jpg')")
      .slider-main__slide(style="background-image: url('img/brands.jpg')")
      .slider-main__slide(style="background-image: url('img/store.jpg')")
    .slider-nav
      .slider-nav__controls
        .slider-nav__left.js-slick-prev
          include ../../UI/sliderArrows/sliderArrowLeftDark
        .slider-nav__right.js-slick-next
          include ../../UI/sliderArrows/sliderArrowRightDark
  .slider-preview.js-slider-preview
    .slider-preview__slide(style="background-image: url('img/main-slider-image-2.jpg')")
    .slider-preview__slide(style="background-image: url('img/main-slider-image-1.jpg')")
    .slider-preview__slide(style="background-image: url('img/about.jpg')")
    .slider-preview__slide(style="background-image: url('img/collection-h.jpg')")
    .slider-preview__slide(style="background-image: url('img/brand.jpg')")
    .slider-preview__slide(style="background-image: url('img/brands.jpg')")
    .slider-preview__slide(style="background-image: url('img/store.jpg')")