.product-buttons {
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid $c-light-grey-2;
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__description {
    font-size: $fs-14;
    font-weight: $fw-semibold;
    margin-top: 15px;
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$desktop} {
  .product-buttons {
    &__buttons {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__button {
      &:first-child {
        order: 1;
      }
      &:nth-child(2) {
        order: 3;
        margin-top: 20px;
      }
      &:nth-child(3) {
        order: 2;
        margin-left: 20px;
      }
    }
  }
}

@media #{$tablet} {
  .product-buttons {
    &__buttons {
      justify-content: space-between;
    }
    &__button {
      &:first-child {
        width: 100%;
      }
      &:nth-child(3),
      &:nth-child(2) {
        margin: 0;
        margin-top: 20px;
        width: calc(50% - 10px);
      }
    }
  }
}

@media #{$phone} {
  .product-buttons {
    &__button {
      &:nth-child(3),
      &:nth-child(2) {
        width: 100%;
      }
    }
  }
}