.color(data-light="true" data-color="#ffffff")
  input(type="checkbox")#chk-color-1.color__input
  label(for="chk-color-1").color__label
    .color__box
      svg.icon.color__icon-checked
        use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      svg.icon.color__icon-unchecked
        use(xlink:href="img/svg-sprites/sprite.svg#icon-close")