.page-head.page-head--darken(style="background-image: url('img/store.jpg')")
  .page-head__container
    .page-head__title БОРДШОП СКВОТ В Г. САНКТ-ПЕТЕРБУРГ, М. ПИОНЕРСКАЯ
    include ../../components/Common/breadcrumbs/breadcrumbsStore