.page-head.page-head--darken(style="background-image: url('img/adresses.jpg')")
  .page-head__container
    .page-head__title Адреса магазинов
    include ../../components/Common/breadcrumbs/breadcrumbsAddress