//- DARKEN HEAD WITH IMAGE
//- .page-head.page-head--darken(style="background-image: url('img/main-slider-image-1.jpg')")
.page-head
  .page-head__container
    .page-head__title Одежда
    include ../../components/Common/breadcrumbs/breadcrumbsCatalog