.page-head.page-head--type-2
  .page-head__container.container
    .page-head__info
      .page-head__title Куртка сноубордическая THIRTYTWO Sesh Jacket black товар называется длинно размер XL
      include ../../components/breadcrumbs/breadcrumbsProduct
    .page-head__brand
      a(href="#").page-head__brand-image
        img(src="img/brand-1.png")
      .page-head__brand-text Культовый брэнд, выпускающий ботинки для сноуборда.<br>Ботинки THIRTYTWO производятся сноубордистами для таких же сноубордистов.<br>Учитываются все пожелания и прихоти покупателей.<br><a href="#">Подробнее про бренд Thirty Two</a>