.page-head.page-head--darken(style="background-image: url('img/delivery.jpg')")
  .page-head__container
    .page-head__title Доставка и оплата
    include ../../components/Common/breadcrumbs/breadcrumbsDelivery