ul.filter-categories
  li.filter-categories__item.filter-categories__item--active
    a(href="#") Футболки
  li.filter-categories__item
    a(href="#") Джинсы
  li.filter-categories__item
    a(href="#") Брюки
  li.filter-categories__item
    a(href="#") Толстовки