form.form-one
  .form-one__title Быстрый заказ в 1 клик
  .form-group
    input(type="text" placeholder="Введите ваш номер телефона").input.input--form
  .form-group
    p Наш оператор свяжеться с вами в течении 15 минут.
    p Заказы обрабатываются с 10-18 с понедеьника по суботу
  .form-group
    button(type="submit").button Заказать