.product-recommend
  .product-recommend__title.title Мы рекомендуем
  .product-recommend__items
    include ../../../components/common/topItem/topItemMin
    include ../../../components/common/topItem/topItemMin
    include ../../../components/common/topItem/topItemMin
    include ../../../components/common/topItem/topItemMin
    include ../../../components/common/topItem/topItemMin