.count {
  padding: 12px;
  box-sizing: content-box;
  display: flex;
  border: 1px solid $c-grey-7;
  border-radius: 50px;
  min-width: 65px;
  justify-content: space-between;
  align-items: center;
  transition: $t-normal;
  &:hover {
    border-color: $c-black-2;
  }
  &__input {
    display: none;
  }
  &__control,
  &__icon {
    user-select: none;
    font-size: $fs-14;
  }
  &__icon {
    width: 10px;
    height: 10px;
    padding: 5px;
    box-sizing: content-box;
    fill: $c-grey-7;
    cursor: pointer;
    transition: $t-normal;
    &:hover {
      fill: $c-blue;
    }
  }
}