.filter-aside {
  position: relative;
  z-index: 5;
  border-right: $c-grey-2;
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    cursor: pointer;
    @include cleanButton();
    padding: 10px;
    align-items: center;
    justify-content: center;
    &-icon {
      width: 12px;
      height: 12px;
      fill: $c-light-grey;
      box-sizing: content-box;
      transition: $t-normal;
    }
    &:hover {
      .filter-aside__close-icon {
        fill: $c-blue;
      }
    }
  }
  &__section {
    position: relative;
    padding: 15px 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $c-light-grey-2;
    &--grey {
      background: $c-white-3;
    }
  }
  &__title {
    font-size: $fs-20;
    font-weight: $fw-semibold;
    margin-bottom: 15px;
    display: flex;
  }
  &__sizes{
    margin-left: auto;
    span{
      display: inline-block;
      margin-right: 10px;
      color: #afafaf;
      border-bottom: 1px solid #afafaf;
      cursor: pointer;
      line-height: 0.9;
      transition: all .25s ease;
      &.active{
        color: #111111;
        border-color: transparent;
      }
      &:hover:not(.active){
        color: #111111;
        border-color: #111111;
      }
    }
  }
  &__number{
    opacity: 0;
    position: absolute;
    top: -1px;
    right: -80px;
    z-index: 10;
    background: $c-blue;
    border-radius: 4px;
    font-size: 10px;
    font-weight: $fw-semibold;
    text-transform: uppercase;
    color: white;
    padding: 6px 8px;
    box-shadow: rgba($c-blue, .4) 0px 5px 20px;
    transform: translate3d(15px,0,0);
    pointer-events: none;
    transition: transform .25s ease, opacity .25s ease;
    &.visible{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$tablet} {
  .filter-aside {
    display: none;
  }
}
