footer.footer
  .footer__container.container
    .col-md-4.col-sm-5.footer--about
      .footer__about
        include ../../components/Common/logo/logo
        p Федеральная сеть бордшопов, основанная 2003 году
        p Москва • Санкт-Петербург • Екатеринбург • Новосибирск • Нижний Новгород • Пермь • Волгоград
        nav.footer__about-menu
          a(href="#").footer__about-menu-item История компании
          a(href="#").footer__about-menu-item Реквизиты
          a(href="#").footer__about-menu-item Догово-оферта
    .footer__menus.col-md-4.col-sm-7.footer--menus
      .footer__menu
        .footer__menu-title Помощь
        .footer__menu-items
          a(href="#").footer__menu-item Доставка и оплата
          a(href="#").footer__menu-item Адреса магазинов
          a(href="#").footer__menu-item Адреса магазинов
          a(href="#").footer__menu-item Написать руководству
      .footer__menu
        .footer__menu-title Мы в соцсетях
        .footer__menu-items
          a(href="#").footer__menu-item ВКонтакте
          a(href="#").footer__menu-item Instagam
          a(href="#").footer__menu-item Facebook
          a(href="#").footer__menu-item Видеоканал Vimeo
    .col-md-offset-1.col-md-3.col-sm-12.footer--info
      .footer__info
        .footer__info-number
          a(href="tel:+88001004169").footer__info-phone 8 800 100-41-69
          .footer__info-text
            p По будням с 9.00 до 20.00
            p По субботам с 10.00 до 18.00
        .footer__info-payment
          .footer__payment
            img(src="img/master-card.png")
            img(src="img/visa.png" style="height: 20px;")
          .footer__info-text
            p Доставляем курьером, почтой, в постматы
            p и в пункты выдачи по России

