.filter-checkbox.filter-checkbox--double-col.row.row--2
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="manufacturer" value="Matix")#chk-manufacturer-1.checkbox__input
    label(for="chk-manufacturer-1").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Matix
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="manufacturer" value="Lma")#chk-manufacturer-2.checkbox__input
    label(for="chk-manufacturer-2").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Lma
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="manufacturer" value="Krew")#chk-manufacturer-3.checkbox__input
    label(for="chk-manufacturer-3").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Krew
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="manufacturer" value="Volcom")#chk-manufacturer-4.checkbox__input
    label(for="chk-manufacturer-4").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Volcom
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="manufacturer" value="skvot")#chk-manufacturer-5.checkbox__input
    label(for="chk-manufacturer-5").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Сквот
  .col-sm-6.filter-checkbox__box.checkbox
    input(type="checkbox" name="manufacturer" value="Addict")#chk-manufacturer-6.checkbox__input
    label(for="chk-manufacturer-6").checkbox__label
      .checkbox__box
        svg.icon.checkbox__icon
          use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
      .checkbox__name Addict
  -for(var i=1; i<15; i++)
    .col-sm-6.filter-checkbox__box.checkbox
      input(type="checkbox" name="manufacturer" value="Matix" id="chk-manufacturer-" + i + 6 + "").checkbox__input
      label(for="chk-manufacturer-" + i + 6 + "").checkbox__label
        .checkbox__box
          svg.icon.checkbox__icon
            use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
        .checkbox__name Matix


  .col-sm-6.filter-checkbox__all
    a(href="#") Все