.blog-content
  .blog-content__title Феил No1 - "Я могу научиться сам!"
  .blog-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure porro qui, ullam voluptate aliquam id voluptas deleniti iusto doloremque consectetur quod! Cumque expedita non enim voluptate. Suscipit beatae labore consequatur.
  .blog-content__image(style="background-image: url(img/750x430.png)")
  .blog-content__blockquote
    include ../../Common/blockquote/blockquote
  .blog-content__subcontent
    .blog-content__subcontent-item
      .blog-content
        .blog-content__title.blog-content__title--min Феил No3 - "Прямые ноги"
        .blog-content__text div Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat expedita quos ea quia atque! Dolorem, cupiditate nisi inventore at, nihil id minima pariatur fugiat laboriosam, quia porro nostrum! Dicta, nam?
    .blog-content__subcontent-item
      .blog-content
        .blog-content__title.blog-content__title--min Феил No3 - "Прямые ноги"
        .blog-content__text div Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat expedita quos ea quia atque! Dolorem, cupiditate nisi inventore at, nihil id minima pariatur fugiat laboriosam, quia porro nostrum! Dicta, nam?