a(href="#").col-md-4.col-sm-6.blog-item
  .blog-item__image(style="background-image: url('img/blogItem-1.jpg')")
  .blog-item__label Скейтборд
  .blog-item__title Новогодний скейтборд-контест в боуле при поддержке Сквота и Dickies
  .blog-item__describe PickPoint - пионер на российском рынке постаматов — специализированных терминалов для выдачи товаров, купленных в интернет-магазине.
  .blog-item__date Март 22, 2017