.auth-form
  .auth-form__title Авторизация:
  form.auth-form__form
    .form-group
      .form-inner-group
        input(type="email" placeholder="Email адрес").input.input--form
      .form-inner-group
        input(type="password" placeholder="Пароль").input.input--form
    .form-group
      a(href="#").link Забыли пароль?
    .form-group
      .checkbox
        input(type="checkbox" name="auth-confirm" value="auth-confirm")#auth-confirm.checkbox__input
        label(for="auth-confirm").checkbox__label
          .checkbox__box
            svg.icon.checkbox__icon
              use(xlink:href="img/svg-sprites/sprite.svg#icon-checkbox")
          .checkbox__name Я соглашаюсь с правилами интернет-магазина (<a href="#" class="link">офертой</a>) и даю согласие на обработку персональных данных
    .form-group
      button(type="submit").button.button--bs-2 Войти
  .auth-form__title Нет аккаунта?
  a(href="#" data-modal="registration").link.js-modal-trigger Зарегистрироваться