.brands-nav
  .brands-nav__item.brands-nav__item--active(data-section="a") a
  .brands-nav__item(data-section="b") b
  .brands-nav__item(data-section="c") c
  .brands-nav__item(data-section="d") d
  .brands-nav__item(data-section="f") f
  .brands-nav__item(data-section="g") g
  .brands-nav__item(data-section="h") h
  .brands-nav__item(data-section="i") i
  .brands-nav__item(data-section="j") j