blockquote.blockquote
  .blockquote__quote
    svg.icon.blockquote__icon
      use(xlink:href='img/svg-sprites/sprite.svg#icon-quote')
  .blockquote__content
    .blockquote__text Одеваться как капустатоже не стоит. Неспростаже люди придумали горнолыжную одежду, она тебе как раз подойдет.
    cite.blockquote__author Попонин михаил