a(href="#").col-sm-3.col-xs-6.we-social.we-social--vimeo
  svg.icon.we-social__icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-vimeo")
  .we-social__name Vimeo
  .we-social__number 22089
  .we-social__subscribers Подписчиков
  .we-social__hash #skvotboardshop