<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="auth")
        include ../commons/header/header
        include ../containers/pageHead/pageHeadRegistration
        main.main.container
          include ../containers/authForm/auth
        //- modals
        include ../containers/modals/city
        include ../containers/modals/cityAccept
        include ../containers/modals/cartItemMobile

        include ../commons/subscription/subscription
        include ../commons/footer/footer
        include ../components/UI/up/up
        include common/scripts