<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="blog-list")
        include ../commons/Header/header
        include ../containers/PageHead/pageHeadBlogList
        main.main.container
          include ../containers/BlogList/blogList
        //- modals
        include common/modals
        include ../containers/Modals/cartItemMobile

        include ../commons/Subscription/subscription
        include ../commons/Footer/footer
        include ../components/UI/up/up
        include common/scripts