<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="brand")
        include ../commons/header/header
        include ../containers/PageHead/pageHeadBrand
        main.main.container
          include ../containers/Brand/brand
        //- modals
        include ../containers/Modals/city
        include ../containers/Modals/cityAccept

        include ../commons/Subscription/subscription
        include ../commons/Footer/footer
        include ../components/UI/up/up
        include common/scripts