<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="cart")
      .page
        .page__content
          include ../commons/Header/header
          include ../containers/PageHead/pageHeadCart
          main.main.container
            include ../containers/Cart/cart
          //- modals
          include common/modals
          include ../containers/Modals/cartItemMobile

        include ../commons/Subscription/subscription
        include ../commons/Footer/footer
        include ../components/UI/up/up
        include common/scripts
