<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="catalog")
        include ../commons/header/header
        include ../containers/pageHead/pageHeadCatalog
        main.main.container
            include ../components/textCollapse/textCollapse
            include ../containers/catalog/catalog
        //- modals
        include ../containers/modals/city
        include ../containers/modals/cityAccept

        include ../commons/subscription/subscription
        include ../commons/footer/footer
        include ../components/UI/up/up
        include common/scripts