<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="catalog")
      .page
        .page__content
          include ../commons/Header/header
          include ../containers/PageHead/pageHeadCatalog
          main.main.container
              include ../components/Common/textCollapse/textCollapse
              include ../containers/Catalog/catalog
          //- modals
          include common/modals

        include ../commons/Subscription/subscription
        include ../commons/Footer/footer
        include ../components/UI/up/up
        include common/scripts
