<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="delivery-point")
      .page
        .page__content
          include ../commons/Header/header
          include ../containers/PageHead/pageHeadDeliveryPoint
          main.main.container
            include ../containers/DeliveryPoint/deliveryPoint
          //- modals
          include common/modals

        include ../commons/Subscription/subscription
        include ../commons/Footer/footer
        include ../components/UI/up/up
        include common/scripts
