<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="home")
        include ../commons/header/header
        include ../containers/mainSlider/mainSlider
        main.main.container
            include ../containers/top/top
            include ../containers/collections/collections
            include ../containers/services/services
            include ../containers/reviews/reviews
            include ../containers/blogNews/blogNews
            include ../containers/weSocials/weSocials
        //- modals
        include ../containers/modals/city
        include ../containers/modals/cityAccept

        include ../commons/subscription/subscription
        include ../commons/footer/footer
        include ../components/UI/up/up
        include common/scripts