<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="home")
        include ../commons/header/header
        include ../containers/mainSlider/mainSlider
        main.main.container
            include ../containers/Top/top
            include ../containers/Collections/collections
            include ../containers/Services/services
            include ../containers/Reviews/reviews
            include ../containers/BlogNews/blogNews
            include ../containers/WeSocials/weSocials
        //- modals
        include common/modals

        include ../commons/Subscription/subscription
        include ../commons/Footer/footer
        include ../components/UI/up/up
        include common/scripts