<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="offer")
        include ../commons/Header/header
        include ../containers/PageHead/pageHeadOffer
        main.main.container
          include ../containers/Offer/offer
        //- modals
        include ../containers/Modals/city
        include ../containers/Modals/cityAccept
        include ../containers/Modals/cartItemMobile

        include ../commons/Subscription/subscription
        include ../commons/Footer/footer
        include ../components/UI/up/up
        include common/scripts