<!DOCTYPE html>
html(lang="en")
    head
        title Skvot Project
        include common/head
    body(data-page="order")
        include ../commons/Header/header
        include ../containers/PageHead/pageHeadOrder
        main.main.container
          include ../containers/Cart/cartOrder
        //- modals
        include ../containers/Modals/city
        include ../containers/Modals/cityAccept
        include ../containers/Modals/cartItemMobile

        include ../commons/Subscription/subscription
        include ../commons/Footer/footer
        include ../components/UI/up/up
        include common/scripts