include ../../components/Common/letterNavigation/letterNavigation


.brands
  .brands__images
    include ../../components/Brands/brandsImages/brandsImages
  .brands__navigation.alphabet-navigation
    +letterNav({ letters: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] })
  .brands__alphabet
    include brandsAlphabet/brandsAlphabet