.brands
  .brands__images
    include ../../components/brands/brandsImages/brandsImages
  .brands__navigation
    include ../../components/brands/brandsNavigation/brandsNavigation
  .brands__alphabet
    include brandsAlphabet/brandsAlphabet