.brands
  .brands__images
    include ../../components/Brands/brandsImages/brandsImages
  .brands__navigation
    include ../../components/Brands/brandsNavigation/brandsNavigation
  .brands__alphabet
    include brandsAlphabet/brandsAlphabet