nav.menu
  a(href="").menu__item Главная
  a(href="delivery.html").menu__item Доставка и оплата
  a(href="address.html").menu__item Наши магазины
  a(href="blog-list.html").menu__item Блог
  a(href="team.html").menu__item Команда
  a(href="about.html").menu__item О сквоте
  a(href="brands.html").menu__item Бренды