.form {
  &-group {
    padding: 10px 0;
  }
  &-info {
    font-size: $fs-14;
  }
  &-link {
    font-size: $fs-14;
    border-bottom: 1px solid $c-blue;
    color: $c-blue;
    transition: $t-normal;
    &:hover {
      border-color: $c-black-2;
      color: $c-black-2;
    }
  }
  &-label {
    font-size: $fs-14;
    margin-bottom: 5px;
  }
  &-double {
    display: flex;
    justify-content: space-between;
    & > * {
      width: calc(50% - 10px);
    }
  }
}
