.cart-btn {
  position: relative;
}
.cart-btn__count {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: $c-light-blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: $fs-11;
  padding: 4px 0;
  color: $c-white;
}
.cart-btn__icon {
  font-size: $fs-icon-26;
  fill: $c-white;
}