.we-socials
  .we-socials__title Мы в соцсетях
  .we-socials__content.row.row--2
    include ../../components/weSocial/weSocialVimeo
    include ../../components/weSocial/weSocialVk
    include ../../components/weSocial/weSocialInstagram
    include ../../components/weSocial/weSocialFacebook

