.brands-images
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage
  a(href="#").brands-images__image
    include ../brandsImage/brandsImage