.product-recommend
  .product-recommend__title.title Мы рекомендуем
  .product-recommend__items
    include ../../components/topItem/topItemMin
    include ../../components/topItem/topItemMin
    include ../../components/topItem/topItemMin
    include ../../components/topItem/topItemMin
    include ../../components/topItem/topItemMin