.product-recommend
  .product-recommend__title.title Мы рекомендуем
  .product-recommend__items
    include ../../components/topItem/topItem
    include ../../components/topItem/topItem
    include ../../components/topItem/topItem
    include ../../components/topItem/topItem
    include ../../components/topItem/topItem