.subscription {
  padding-top: 75px;
  height: 455px;
  margin-top: -75px;
  background: url('../img/subscription-bg.png');
}

.subscription__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}