.pagination.pagination--blogs
  a(href="#").pagination__item.pagination__item--control
    svg.icon.pagination__item-icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-left-arrow")
  a(href="#").pagination__item.pagination__item--before-dots 1
  a(href="#").pagination__item.pagination__item--before-dots.pagination__item--active 2
  a(href="#").pagination__item.pagination__item--before-dots 3
  a(href="#").pagination__item.pagination__item--before-dots 4
  a(href="#").pagination__item.pagination__item--before-dots 5
  a(href="#").pagination__item.pagination__item--before-dots 6
  a(href="#").pagination__item.pagination__item--before-dots 7
  a(href="#").pagination__item.pagination__item--before-dots 8
  a(href="#").pagination__item.pagination__item--before-dots 9
  a(href="#").pagination__item.pagination__item--before-dots 10
  a(href="#").pagination__item.pagination__item--before-dots 11
  a(href="#").pagination__item.pagination__item--before-dots 12
  a(href="#").pagination__item.pagination__item--before-dots 13
  a(href="#").pagination__item.pagination__item--before-dots 14
  a(href="#").pagination__item.pagination__item--before-dots 15
  a(href="#").pagination__item.pagination__item--before-dots 16
  a(href="#").pagination__item.pagination__item--dots ...
  a(href="#").pagination__item.pagination__item--after-dots 126
  a(href="#").pagination__item.pagination__item--after-dots 321
  a(href="#").pagination__item.pagination__item--after-dots 423
  a(href="#").pagination__item.pagination__item--after-dots 426
  a(href="#").pagination__item.pagination__item--after-dots 564
  a(href="#").pagination__item.pagination__item--control
    svg.icon.pagination__item-icon
      use(xlink:href="img/svg-sprites/sprite.svg#icon-right-arrow")