a(href="#" style="background-image: url(img/collection-h.jpg)").collection.collection--horizontal
  .collection__label.collection__label--sale sale
  .collection__content
    .collection__brand DICKIES
    .collection__title Лукбук лето 2017
  .collection__button.button.button--white Смотреть