a(href="#" style="background-image: url(img/collection-v.jpg)").collection.collection--vertical
  .collection__label new
  .collection__content
    .collection__brand BILLABONG
    .collection__title Весенние новинки для милых дам
  .collection__button.button.button--white Смотреть