a(href="#" style="background-image: url(img/collection.jpg)").collection
  .collection__label new
  .collection__content
    .collection__brand ELEMENT SKATEBOARDING
    .collection__title Распродажа летней коллекции
  .collection__button.button.button--white Смотреть