.product-feedback
  .product-feedback__title Вопросы, отзыв и обсуждение товара:
  .product-feedback__feedbacks
    .product-feedback__feedback
      .product-feedback__feedback-content
        .product-feedback__feedback-name Олег Пелишенко
        .product-feedback__feedback-text Отличная куртка, очень теплая, рекомендую. Спасибо ребятам из интернет магазина за помощь в выборе. Так держать! :)
      .product-feedback__feedback-date 29.10.2017
    .product-feedback__feedback
      .product-feedback__feedback-content
        .product-feedback__feedback-name Дмитрий
        .product-feedback__feedback-text Парка супер, качественная и теплая, брал на холодную погоду и не прогадал. Очень доволен покупкой, спасибо большое магазину за отличные вещи и быструю доставку!
      .product-feedback__feedback-date 30.10.2016
    .product-feedback__feedback
      .product-feedback__feedback-content
        .product-feedback__feedback-name Вася
        .product-feedback__feedback-text Отличная куртка, очень теплая, рекомендую. Спасибо ребятам из интернет магазина за помощь в выборе. Так держать! :)
      .product-feedback__feedback-date 29.10.2016
  .product-feedback__button
    a(href="#").button Добавить свой отзыв